extends base.pug

append variables
  -
    page.template = "archive";
    //- page.id = post.id;
    //- page.meta = {
    //-   title: `${metadata.title} – ${post.title}`,
    //-   description: post.perex,
    //-   url: `${metadata.url}projects/${post.id}/`,
    //-   image: `${metadata.url}assets/img/projects/${post.id}/${post.featureImage}-750w.jpg`,
    //- }

block content
  if archive
    if archive.description
      section.section.section--hero
        .section__inner
          .section__item !{archive.description}

    if archive.carousel
      section.section.section--carousel
        +carousel(archive.carousel.data, archive.carousel.options, archive.carousel.title)
        //- if archive.carousel.title
        //-   .section__title
        //-     h2= archive.carousel.title

  section.section.section--archive
    if archive.title
      .section__title
        h1= archive.title

    .section__inner
      each item in collection
        -
          const card = {
            data: {
              author: item.author,
              image: item.featureImage || item.image,
              issue: item.issue,
              tag: item.tag,
              text: item.perex,
              title: item.title,
              url: item.content && item.content.length ? `/${page.id}/${item.id}` : false,
            },
            options: {
              //- TODO: page specific
              readMore: item.content && item.content.length ? 'Více o projektu' : false,
              variant: page.archive && page.archive.card && page.archive.card.variant,
              highlight: item.highlight || false,
            },
          }
        +card(card.data, card.options)
