include ../_components/image.pug
include ../_components/card.pug
include ../_components/carousel.pug
include ../_components/person.pug
include ../_components/share.pug

include ../_partials/content.pug

block variables
  -
    let language = "cs";
    let page = {
      id: null,
      template: "none",
      meta: {},
      navRelational: {
        left: {
          url: "/",
          text: "zpět na<br>hlavní stranu",
        }
      }
    };

doctype html
html(lang= language || "cs")
  head
    block google-analytics
    //- include google-analytics.pug

    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="referrer" content="no-referrer-when-downgrade")

    block seo
      meta(name="description" content= page.description || metadata.description)
      meta(name="keywords" content=metadata.keywords)
      title= metadata.title
      //- include meta-for-social-networks.pug

    link(rel="preconnect" href=baseUrl crossorigin)

    block favicon
      //- link(rel="apple-touch-icon" sizes="180x180" href=baseUrl + "assets/img/favicon/apple-touch-icon.png")
      //- link(rel="icon" type="image/png" sizes="32x32" href=baseUrl + "assets/img/favicon/favicon-32x32.png")
      //- link(rel="icon" type="image/png" sizes="16x16" href=baseUrl + "assets/img/favicon/favicon-16x16.png")
      //- link(rel="manifest" href=baseUrl + "assets/img/favicon/site.webmanifest")
      //- link(rel="mask-icon" href=baseUrl + "assets/img/favicon/safari-pinned-tab.svg" color="#c8c8c8")
      //- link(rel="shortcut icon" href=baseUrl + "assets/img/favicon/favicon.ico")
      //- meta(name="msapplication-TileColor" content="#ffffff")
      //- meta(name="msapplication-config" content=baseUrl + "assets/img/favicon/browserconfig.xml")
      //- meta(name="theme-color" content="#ffffff")

    block fonts
      link(rel="preload" as="font" type="font/woff2" href=`${baseUrl}assets/fonts/Plain-Regular.woff2` crossorigin)
      link(rel="preload stylesheet" as="style" href=baseUrl + "assets/fonts/fonts.css?" + Math.floor(Date.now() / 1000) crossorigin)
    block css
      link(rel="stylesheet" href=baseUrl + "assets/css/styles.css?" + Math.floor(Date.now() / 1000))

    block javascript
      //- Google Maps
      //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvV3EpFQlXNQ40mTRwGcI3B13gD-L4vGk")
      //- Main JS
      script(defer src=baseUrl + "assets/js/main.build.js?" + Math.floor(Date.now() / 1000))

  body.loading(
    id="page-" + page.id
    class="page-" + page.id
    class="template-" + page.template
    class={"has-secondary-navigation": page.parent}
  )
    block loading-screen
      include ../_partials/loading.pug

    //- SVG assets
    include ../_partials/svg.pug

    block header
      include ../_partials/header.pug

    main.main#main
      block content

    block footer
      if page.navRelational && page.id !== "homepage"
        include ../_partials/navigation-relational.pug

      include ../_partials/footer.pug

    block mobile-menu
      include ../_partials/mobile-menu.pug
      include ../_partials/language-switcher.pug
      include ../_partials/theater-tooltip.pug
