extends base.pug

append variables
  -
    page.template = "post";
    page.id = post.id;
    page.meta = {
      title: `${metadata.title} – ${post.title}`,
      description: post.perex,
      url: `${metadata.url}`,
      image: `${metadata.url}assets/img/${post.featureImage}-750w.jpg`,
    }

    page.navRelational = {
      left: {
        url: `#`,
        text: 'předchozí</br> projekt'
      },
      right: {
        url: `#`,
        text: 'další</br> projekt'
      }
    }

block content
  article.post__article

    header.post__header
      if post.featureImage
        -
          const imageOptions = {
            sizes: '100vw',
            lazy: false,
          }
        +image(post.featureImage, imageOptions)(class="post__featureImage")

      h1.post__title= post.title

      .post__intro
        if post.date || post.author
          .post__meta
            if post.date
              .post__date= post.date
            if post.author
              .post__author= post.author

        if post.perex
          .post__perex= post.perex

        .post__share
          +share(page.url)

    +content(post.content)

    if post.guests
      section.post__guests
        h2 Hosté

        each guest in post.guests
          .guest
            +image(guest.image)(class="guest__image")
            .guest__text
              h5.guest__name= guest.name
              p= guest.text

  if post.files
    section.section.section--file
      each file in post.files
        -
          const card = {
            data: {
              extension: file.file.split('.')[1].toUpperCase(),
              title: file.title,
              category: file.category,
              url: file.file,
            },
            options: {
              variant: "noodle",
            },
          }
        +card(card.data, card.options)
