.contact {
  border: 1px solid currentColor;
  padding: $spacing-0 / 4;
  max-width: 50ch;
  margin: 0 auto;
  transform: rotate(3deg);

  @include max-screen($breakpoint-l) {
    font-size: 3vmin;
  }

  .contact__logo {
    margin-bottom: $unit;
    display: flex;
    justify-content: space-between;

    svg {
      width: 9.15ch * $logo-ratio;
      height: 9.15ch;
      overflow: visible;
    }
  }

  .contact__text {
    letter-spacing: -0.025em;
  }

  .contact__line {
    display: flex;
    justify-content: space-between;
  }
}
