$footer-unit: 1em * $line-height-1;

#footer {
  background-color: $gray-0;
  // margin-top: $spacing-4;
  font-size: var(--font-size--2);
  padding: $footer-unit * 3 var(--web-gutter);
  margin-top: $spacing-0 * 3;

  display: grid;
  grid-gap: $footer-unit * 3;
  grid-template-areas: "logo" "contact" "links" "support" "copyright";

  p {
    margin-bottom: 0;
  }

  @include portrait {
    margin-top: $spacing-0 * 2;
  }

  @include min-screen($breakpoint-m) {
    grid-gap: $footer-unit * 1.5;
    grid-template-columns: designToVw(100, "vmin") auto auto;
    // grid-template-rows: auto $footer-unit * 7;
    grid-template-areas:
      "logo contact links"
      "support support support"
      "copyright copyright copyright";
    padding: designToVw(39) designToVw(55);
  }

  @include min-screen($breakpoint-l) {
    grid-template-columns: designToVw(200) auto auto 1fr;
    grid-template-rows: auto $footer-unit * 7;
    grid-template-areas:
      "logo links contact support"
      "copyright copyright copyright copyright";
  }
}

.footer__logo,
.footer__links {
  a {
    color: currentColor;
  }
}

.footer__logo {
  grid-area: logo;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    svg {
      height: 10vmin;
      width: 10vmin * $logo-ratio;
      overflow: visible;

      @include min-screen($breakpoint-l) {
        height: 2vmax;
        width: 2vmax * $logo-ratio;
      }
    }
  }
}

.footer__links {
  grid-area: links;

  li {
    margin-bottom: 0;
  }
}

.footer__contact {
  grid-area: contact;

  > :not(:last-child) {
    margin-bottom: $footer-unit;
  }

  span {
    padding: 0 1ch;
  }
}

.footer__support {
  grid-area: support;
  text-align: center;

  display: grid;
  grid-gap: $footer-unit;

  .logos {
    grid-row: 1 / 2;
  }

  @include min-screen($breakpoint-l) {
    justify-content: flex-end;
    text-align: right;
    grid-template-columns: auto auto;

    > * {
      align-self: start;
    }

    .logos {
      grid-column: 1 / 3;
      grid-row: unset;
      justify-self: flex-end;
    }
  }
}

.footer__copyright {
  grid-area: copyright;
  align-self: flex-end;
  color: $gray--2;
}
