$header-size: $button-size;
$header-side-size: designToVw(172);
$header-gutter-outer: designToVw(55);

#header {
  font-size: var(--font-size--2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--web-gutter);

  @include max-screen($breakpoint-l - 1) {
    flex-wrap: wrap;
  }
}

.header__stack {
  padding-top: var(--web-gutter);
  display: flex;
  align-items: center;

  > * {
    flex: 1;
  }

  @include min-screen($breakpoint-l) {
    z-index: $z-header-desktop;
    position: fixed;
    top: 0;
    transform: none;
    // opacity: 1;
    transition:
    // opacity $duration-short,
      transform $duration-short;
    padding-top: $spacing-0 * 0.9;

    .scroll--down & {
      transform: translate3d(0, -110%, 0);
    }
  }
}

.header__navigation {
  @include max-screen($breakpoint-l - 1) {
    order: 3;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @include min-screen($breakpoint-l) {
    left: calc(#{$header-side-size + $header-gutter-outer} + #{$unit});
    right: calc(#{$header-side-size + $header-gutter-outer} + #{$unit});
  }

  @include min-screen($breakpoint-xxl) {
    left: calc(#{$header-side-size + $header-gutter-outer} + #{$unit * 3});
    right: calc(#{$header-side-size + $header-gutter-outer} + #{$unit * 3});
  }

  // @include min-screen(1900px) {
  //   left: 33%;
  //   right: 33%;
  // }
}

.header__logo,
.header__theaters {
  box-sizing: content-box;
  color: $bg-color;
  mix-blend-mode: difference;
  width: 33%;
  height: $button-size;

  @include screen($breakpoint-l, $breakpoint-xxl - 1) {
    width: ($header-side-size + $header-gutter-outer / 2);
  }

  @include min-screen($breakpoint-xxl) {
    width: $header-side-size;
  }

  // @include min-screen(1900px) {
  //   width: 33%;
  // }
}

.header__logo {
  left: $header-gutter-outer;

  @include screen($breakpoint-l, $breakpoint-xxl - 1) {
    left: $header-gutter-outer / 2;
    height: $button-size * .8;
  }

  // @include min-screen(1900px) {
  //   left: 0;
  // }

  a {
    &:hover {
      color: invert($action-color);
    }
  }

  .logo {
    color: currentColor;
    display: flex;
    justify-content: space-between;
    // height: 100%;

    svg {
      width: $button-size / $logo-ratio;
      height: $button-size;
    }
  }
}

.header__theaters {
  display: flex;
  justify-content: space-between;
  right: $header-gutter-outer;

  @include screen($breakpoint-l, $breakpoint-xxl - 1) {
    right: $header-gutter-outer / 2;
  }

  // @include min-screen(1900px) {
  //  right: 0;
  // }

  a {
    flex: unset;
    color: currentColor;

    &:hover {
      color: invert($action-color);
    }
  }

  .theater {
    &:not(:first-child) {
      margin-left: $spacing-0 / 2;
    }

    svg {
      height: $button-size;
      width: $button-size;
    }
  }
}

.logo__E {
  // https://utopia.fyi/generator-mk-ii/?c=375,16,1.2,1490,35,1.25,0,0,
  margin: 0 clamp(1rem, calc(0.6006rem + 1.704vw), 2.1875rem);
  transform: translateX(3%);
}
