.languageSwitcher {
  position: fixed;
  bottom: $spacing-0;
  font-size: var(--font-size--2);
  letter-spacing: $letter-spacing;
  text-transform: lowercase;
  z-index: $z-header-mobile;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  @include max-screen($breakpoint-l - 1) {
    left: 0;
    right: 0;
    text-align: center;

    display: none;

    .is-menu & {
      display: block;
    }
  }

  @include min-screen($breakpoint-l) {
    right: $spacing-0;
  }
}
