// [data-lozad] {
  // opacity: 0;
  // transition: opacity .1s ease-out;
  // will-change: opacity;

  // &[data-loaded] {
  //   opacity: 1;
  // }
// }

// [data-src]:not(.loaded) {
//   padding-bottom: 66.666666666667%;

//   .masonary__item & {
//     padding-bottom: 0;
//   }
// }
