#loading {
  background-color: $bg-color;
  pointer-events: none;
  z-index: $z-loading-screen;

  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-flow: column;
  // padding: $unit;

  will-change: opacity;
  opacity: 0;
  // transition: opacity .62s .62s ease-in;
  transition: opacity $duration-short $delay-shorter ease-in;

  .loading & {
    pointer-events: initial;
    opacity: 1;
  }
}
