.map {
  position: relative;
  width: 100vmax;
  height: 47.1875vmax;
  max-height: 70vh;
}

.map__popup {
  .mapboxgl-popup-tip {
    // border-width: 2vw;
    border: none;
    background-color: $blue-light;
    border-radius: $unit;
    width: $unit;
    height: $unit;
  }

  &.mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      // border-bottom-color: $blue;
      margin-bottom: 0.15vmax;
    }
  }
  &.mapboxgl-popup-anchor-bottom {
    .mapboxgl-popup-tip {
      // border-top-color: $blue;
      // margin-top: -0.65vmax;
      margin-top: 0.15vmax;
    }
  }

  .mapboxgl-popup-content {
    background-color: transparent;
    color: $bg-color;
    // width: 20vmax;
    // height: 10vmax;
    box-shadow: none;

    .popup__wrapper {
      width: 17vmax;
      height: 7vmax;
    }

    .popup__background,
    .popup__text,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // width: 100%;
      // height: 100%;
    }

    .popup__background {
      background-color: $blue;
      bottom: $unit / 2;

      &,
      &::after {
        border-radius: $unit;
      }

      &::after {
        content: "";
        position: absolute;
        top: $unit;
        left: 0;
        right: 0;
        bottom: $unit / 4 * -1;
        background: rgba($gray--2, 0.5);
        backdrop-filter: blur(10px);
        z-index: -1;
      }
    }

    .popup__text {
      padding: $spacing-0 / 3 $spacing-0 / 2.5;
      padding-bottom: $spacing-0 / 1.5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: var(--font-size--1);
    }

    svg {
      color: $text-color;
      z-index: -1;
    }
  }
}

#svg-map-popup {
  display: none;
}
