#mobile-menu-toggle {
  z-index: $z-header-mobile + 1;
  position: fixed;
  top: calc(var(--web-gutter) / 2);
  left: 50%;
  transform: translateX(-50%);
  width: $mobile-menu-size;
  height: $mobile-menu-size;
  border-radius: $mobile-menu-size;
  background: $white;
  border: 0;
  color: currentColor;
  transition: transform $duration-short;

  .is-menu & {
    background-color: transparent;
  }

  .scroll--down & {
    &[data-state="closed"] {
      transform: translate3d(-50%, calc(var(--web-gutter) / -2 - 100%), 0);
    }
  }

  // .lightbox__open & {
  //   display: none;
  // }

  .icon {
    width: 100%;
    height: 100%;
  }

  .icon--open {
    display: block;

    .is-menu & {
      display: none;
    }
  }

  .icon--close {
    display: none;
    margin-left: 0;

    .is-menu & {
      display: block;
    }
  }

  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
  }

  @include min-screen($breakpoint-l) {
    display: none;
  }
}
