.navigation,
.navigation__secondary {
  white-space: nowrap;
  z-index: $z-header-mobile - 1;

  .button {
    backdrop-filter: blur(10px);
  }

  a {
    position: relative;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    color: $action-color;
  }

  li {
    &::before {
      content: ""
    }
  }
}

.navigation {

  .button {
    background-color: rgba($gray-0, .9);
  }

  @include max-screen($breakpoint-l - 1) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $unit 0;
    text-align: center;
    background: rgba($bg-color, .95);
    backdrop-filter: filter(10px);

    &[data-state="open"] {
      display: flex;
      flex-flow: column;
    }

    // @supports (-webkit-backdrop-filter: blur(10px)) {
    //   -webkit-backdrop-filter: blur($unit / 3);
    //   background-color: rgba($bg-color, 0.9);
    // }

    ul {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      height: 100%;
      width: 55%;
      margin: 0 auto;
    }

    li {
      &:not(:first-child) {
        margin-top: $spacing-0 / 2;
      }
    }
  }

  @include min-screen($breakpoint-l) {
    text-align: center;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      flex: 1;
      margin: 0;

      &:not(:first-of-type) {
        margin-left: 10 / 14 * 1em;
      }
    }
  }

  @include min-screen($breakpoint-xl) {
    li {
      &:not(:first-of-type) {
        margin-left: 25 / 14 * 1em;
      }
    }
  }

  @include max-screen($breakpoint-xxl) {
    .button {
      padding: 0;
    }
  }
}

.navigation__secondary {
  z-index: 1;

  .button {
    background-color: rgba($yellow, .9);
  }

  ul {
    display: flex;
  }

  svg.icon {
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: $spacing-0 * .125 * -1;
    transform: translateY(-50%);
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    width: $spacing-0 * 1.75;
    height: $spacing-0 * 1.75;
  }

  @include max-screen($breakpoint-l - 1) {
    position: fixed;
    font-size: var(--font-size-0);
    top: calc(var(--web-gutter) + #{$mobile-menu-size});
    left: var(--web-gutter);
    right: var(--web-gutter);
    margin-top: calc(var(--web-gutter) / 2);
    transition: transform $duration-short;

    .scroll--down & {
      &[data-state="open"] {
        transform: translate3d(0, calc((var(--web-gutter) * -1) - #{$mobile-menu-size}), 0);
      }

      &[data-state="closed"] {
        transform: translate3d(0, calc((var(--web-gutter) * -1) - #{$mobile-menu-size} - 110%), 0);
        transition-delay: .05s;
      }
    }

    .is-menu & {
      display: none;
    }

    ul {
      flex-direction: column;
    }

    li {
      &:not(.active) {
        order: 2;
        display: none;
      }
    }

    a {
      display: block;
      max-width: 50ch;
      margin: 0 auto;
    }

    &[data-state="open"] {
      li {
        display: block;
      }

      svg.icon {
        transform: translateY(-50%) scaleY(-1);
      }
    }
  }

  @include min-screen($breakpoint-l) {
    position: absolute;
    top: calc(100% + #{$spacing-0 * .75});
    left: 50%;
    transform: translateX(-50%);

    svg.icon {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      flex: 1;
      margin: 0;

      &:not(:first-of-type) {
        margin-left: 10 / 14 * 1em;
      }
    }
  }

  @include min-screen($breakpoint-xl) {
    li {
      &:not(:first-of-type) {
        margin-left: 25 / 14 * 1em;
      }
    }
  }
}
