.navigationRelational {
  display: grid;
  grid-template-areas: "left middle right";
  grid-gap: $spacing-0 / 2;
  width: 100%;
  max-width: $web-width-max;
  margin: 0 auto $spacing-0 * 2;
  padding: 0 $spacing-0 / 2;
  font-size: var(--font-size-2);

  .navigationRelational__left {
    grid-area: left;
  }
  .navigationRelational__middle {
    grid-area: middle;
    text-align: center;
  }
  .navigationRelational__right {
    grid-area: right;
    text-align: right;
  }

  .arrow {
    display: block;
  }

  a {
    color: currentColor;

    &:hover {
      color: $action-color;
    }
  }

  @include portrait {
    margin-top: $spacing-0;
  }
}
