.textWithHeading {
  .heading {
    margin-bottom: $spacing-0 / 2;

    > * {
      font-weight: $font-weight-regular;
    }

    h1,
    h2,
    h3 {
      font-size: inherit;
    }
  }

  @include min-screen($breakpoint-l) {
    display: flex;
    flex-wrap: wrap;

    .heading {
      flex: 1;
      margin-right: $spacing-0 / 2;
      margin-bottom: 0;

      img,
      svg {
        margin-top: $unit / 4;
      }
    }

    .text {
      flex: 2;
      margin-left: $spacing-0 / 2;
    }
  }
}
