.tooltip {
  display: none;
  position: fixed;
  top: $spacing-0 * 3;
  right: $unit;

  padding: $unit * 1.25 0 0;
  max-width: $button-size * 3 + $spacing-0 / 2 * 2;
  width: 100%;
  z-index: 1;

  &.is-active,
  &:hover {
    display: block;
  }

  .scroll--down & {
    &,
    &:hover {
      display: none;
    }
  }

  a {
    position: relative;
    background-color: $blue;
    color: $bg-color;
    display: block;
    font-size: var(--font-size--2);
    letter-spacing: $letter-spacing;
    padding: $unit $unit * 1.5 $unit * .5;

    &,
    &::after {
      border-radius: $unit;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $unit / 4 * -1;
      background: rgba($gray--2, 0.5);
      backdrop-filter: blur(10px);
      z-index: -1;
    }

    > *:first-child {
      min-height: $line-height--1 * 2em;
      margin-bottom: $spacing-0 / 4;
    }
  }
}

[data-theater-target="name"] {
  // &::after {
  //   content: " ";
  // }

  + * {
    display: block;
    margin-top: $unit / 3;
  }
}

.tooltip__indicator {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: $unit;
  height: $unit;
  border-radius: $unit;
  overflow: hidden;
  background-color: $blue-light;
  font-size: var(--font-size--2);
}
