extends ../../_layouts/page.pug

prepend variables

append variables
  -
    page.id = "dokumenty"
    page.parent = "o-nas"
    page.content = pages.documents.content
    //- console.log(page.content)
