extends ../../_layouts/page.pug

prepend variables

append variables
  -
    page.id = "knihovna-archiv"
    page.parent = "o-nas"
    page.content = pages.library.content
    //- console.log(page.content)

prepend content
  section.section--contact
    .section__item--opening-hours
      ul
        li Zelný trh 8
        li Brno
      div otvírací doba
      ul
        li
          span út
          span 9–12
        li
          span čt
          span 9–15
        li
          span pá
          span 9–12

    .section__item--button
      a.button.button--large.button--blue(href="#") Online katalog <span class="ced">CED</span>

    .section__item
      p Návštěva mimo tyto termíny je možná kdykoliv po předcházející telefonické či e-mailové domluvě.

    .section__item--persons
      .textWithHeading
        .heading
          h2 Kontaktní osoby
        .text.columns
          -
            const people = [
              {
                name: "Mgr. Aleš Kolařík",
                telephone: "542 123 432",
                email: "knihovna@ced-brno.cz",
                image: "https://via.placeholder.com/150x300/FFCC00/000000",
              },
              {
                name: "Mgr. Amálie Bulandrová",
                telephone: "542 211 630",
                email: "knihovna@ced-brno.cz",
                image: "https://via.placeholder.com/150x300/CCFF00/000000",
              }
            ]

          each person in people
            +person(person)
