extends ../../_layouts/page.pug

prepend variables

append variables
  -
    page.id = "prostory"
    page.parent = "o-nas"
    page.content = pages.venues.content
    //- console.log(page.content)

prepend content
