extends ../../_layouts/page.pug

prepend variables

append variables
  -
    page.id = "vize"
    page.parent = "o-nas"
    page.content = pages.vision.content
    //- console.log(page.content)

prepend content
