button,
.button {
  appearance: none;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button {
  background-color: $gray-0;
  box-shadow:
    0px var(--button-shadow-width--) 0px 0px var(--button-shadow-color--top),
    0px var(--button-shadow-width) 0px 0px var(--button-shadow-color--bottom);
  border-radius: $unit * 2;
  color: $text-color;
  font-size: var(--font-size--2);
  letter-spacing: $letter-spacing;
  line-height: calc(#{$button-size} - var(--button-shadow-width) * 2);
  padding: 0 6ch;
  text-transform: lowercase;

  &:hover,
  &.active,
  &:active,
  &:focus,
  &:hover {
    --button-shadow-color--top: rgba(0,0,0, .1);
    --button-shadow-color--bottom: rgba(255,255,255, .5);

    background-color: darken($gray-0, 2);
    color: $text-color;
    text-decoration: none;
  }

  &:active {
    background-color: darken($gray-0, 5);
  }
}

.button--blue {
  $border-color: desaturate($blue, 50);
  $border-light-color: rgba(lighten($border-color, 50), .62);
  $border-dark-color: rgba(darken($border-color, 10), .5);

  --button-shadow-color--top: #{$border-light-color};
  --button-shadow-color--bottom: #{$border-dark-color};

  background-color: $blue;
  color: $bg-color;

  &:hover,
  &.active,
  &:active,
  &:focus,
  &:hover {
    --button-shadow-color--top: #{$border-dark-color};
    --button-shadow-color--bottom: #{$border-light-color};

    color: $bg-color;
    background-color: darken($blue, 5);
  }

  &:active {
    background-color: darken($blue, 5);
  }
}

.button--yellow {
  $border-color: desaturate($yellow, 50);
  $border-light-color: rgba(lighten($border-color, 40), .62);
  $border-dark-color: rgba(darken($border-color, 10), .5);

  --button-shadow-color--top: #{$border-light-color};
  --button-shadow-color--bottom: #{$border-dark-color};

  background-color: $yellow;

  &:hover,
  &.active,
  &:active,
  &:focus,
  &:hover {
    --button-shadow-color--top: #{$border-dark-color};
    --button-shadow-color--bottom: #{$border-light-color};

    background-color: darken($yellow, 5);
  }

  &:active {
    background-color: darken($yellow, 5);
  }
}

.button--inline {
  display: inline;

  &:hover,
  &.active,
  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.button--large {
  font-size: var(--font-size-2);
  line-height: calc((150 / 60 * 1em) - 8px);
}
