// $card-spacing: $spacing-0 / 2;

.card {
  background-color: $gray-0;
  border-radius: $unit;
  box-shadow:
    0px var(--button-shadow-width--) 0px 0px var(--button-shadow-color--top),
    0px var(--button-shadow-width) 0px 0px var(--button-shadow-color--bottom);
  color: $text-color;
  display: block;
  // https://stackoverflow.com/questions/55347359/why-is-css-grid-row-height-different-in-safari
  display: grid;
  overflow: hidden;
  padding-bottom: var(--card-size);
  position: relative;

  &[href] {
    &:hover {
      --button-shadow-color--top: rgba(0,0,0, .1);
      --button-shadow-color--bottom: rgba(255,255,255, .5);

      background-color: darken($gray-0, 2);
    }
  }
}

.card__image,
.card__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.card__image {
  width: var(--card-size);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.card__inner {
  right: 0;

  display: grid;
  grid-gap: var(--card-spacing);
  grid-template-rows: 1fr auto;
  grid-template-areas: "title" "readMore";

  .card:not(.card--calendar) .card__image + & {
    left: var(--card-size);
    margin-left: var(--card-spacing);
  }

  @include min-screen($breakpoint-m) {
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title"
      "text"
      "readMore";
  }
}

.card__title {
  grid-area: title;

  padding-top: var(--card-spacing);
  padding-right: var(--card-spacing);

  > * {
    line-height: 1.1;
  }

  @include max-screen($breakpoint-m - 1) {
    font-size: var(--font-size--1);
  }

  @include min-screen($breakpoint-m) {
    margin-bottom: $spacing-0;
  }
}

.card__tag {
  font-size: var(--font-size--2);
  margin-top: $spacing-0 / 4;

  @include min-screen($breakpoint-m) {
    font-size: var(--font-size--1);
    margin-top: $spacing-0 / 8;
  }
}

.card__text,
.card__readMore,
.card__author {
  &:last-child,
  &:nth-last-child(2) {
    padding-bottom: var(--card-spacing);
  }
}

.card__text,
.card__author {
  @include max-screen($breakpoint-m - 1) {
    display: none;
  }
}

.card__text,
.card__readMore {
  padding-right: calc(var(--card-spacing) * 1.5);
}

.card__readMore,
.card__author {
  white-space: nowrap;
}

.card__text {
  grid-area: text;

  // display: flex;
  // align-items: center;
  // justify-content: center;

  p {
    font-size: var(--font-size--1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }

  @include max-screen($breakpoint-m - 1) {
    display: none;
  }
}

.card__readMore {
  grid-area: readMore;
  color: $action-color;
  text-align: right;
  font-size: var(--font-size--2);

  @include max-screen($breakpoint-m - 1) {
    align-self: end;
  }

  @include min-screen($breakpoint-m) {
    font-size: inherit;
    padding-top: $spacing-0 / 2;
  }

  //  @media not all and (hover: none) and (min-width: $breakpoint-l) {
  @include min-screen($breakpoint-l) {
    opacity: 0;

    .card:hover & {
      opacity: 1;
    }
  }
}

.card__author {
  grid-area: author;
  letter-spacing: $letter-spacing;

  :not(.card__title) + & {
    padding-top: $spacing-0 / 2;
  }
}

.card__date,
.card__time,
.card__venue {
  color: $gray--2;
}

.card__date {
  grid-area: date;
}

.card__time {
  grid-area: time;
  text-align: right;
}

.card__venue {
  grid-area: venue;
}

.card--highlight {
  padding-bottom: 100%;

  @include min-screen($breakpoint-m) {
    .card__text {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: var(--font-size-0);
        -webkit-line-clamp: 8;
      }
    }
  }
}

.card--cedit {
  @include max-screen($breakpoint-m - 1) {
    .card__author {
      font-size: var(--font-size--2);
    }
  }

  @include min-screen($breakpoint-m) {
    .card__inner {
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "title title"
        "text text"
        "author readMore";
    }

    // .card__author {
    //   padding-top: 0;
    // }
  }
}

.card--calendar,
.card--noodle {
  padding-bottom: unset;
}

.card--calendar {
  display: block;
  font-size: var(--font-size--1);

  .card__inner {
    grid-template-areas:
      "date time"
      "title title"
      "venue venue";
    padding: calc(var(--card-spacing) * .75) var(--card-spacing);
  }

  .card__title {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: $spacing-0 / 2;

    > * {
      font-size: var(--font-size-0);
    }
  }

  .card__image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover {
    .card__image {
      display: block;
    }
  }
}

.card--noodle {
  border-radius: $unit * 2;

  + .card--noodle {
    margin-top: $spacing-0 / 2;
  }

  .card__inner {
    position: unset;
    // same grid as in calendar event noodles
    display: grid;
    grid-gap: $spacing-0 / 10;
    grid-template-columns: 4ch 1fr auto;
    grid-template-areas:
      "title title title"
      "extension category readMore";
    padding: $spacing-0 / 3 $spacing-0 / 1.5 $spacing-0 / 2.5;
  }

  .card__title {
    padding: 0;
    margin-bottom: 0;
  }

  .card__extension,
  .card__category {
    color: $gray--2;
  }

  .card__readMore {
    padding: 0;
  }

  @include max-screen($breakpoint-m - 1) {
    font-size: var(--font-size--2);

    .card__extension {
      grid-area: extension;
    }
    .card__category {
      grid-area: category;
    }
    .card__readMore {
      display: block;
    }
  }

  @include min-screen($breakpoint-m) {
    .card__inner {
      grid-gap: $spacing-0 / 2;
      grid-template-columns: 1fr 4fr 2fr 1fr;
      grid-template-areas: unset;
      grid-template-rows: unset;
      align-items: center;
      padding: $spacing-0 / 4 $spacing-0 / 2 $spacing-0 / 3;
    }

    .card__title,
    .card__readMore {
      grid-area: unset;
    }
  }
}
