// FLICKITY
$carousel-size: 85ch;
$carousel-ratio: (16/9);

.carousel {
  position: relative;
}

.carousel--standard {
  display: grid;
  grid-gap: calc(var(--web-gutter) / 2) var(--web-gutter);
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "carousel carousel"
    "caption navigation";
  padding: 0 var(--web-gutter);

  @include max-screen($breakpoint-l - 1) {
    --carousel-height: calc(56.25vw - #{$web-gutter-mobile * 2});


    .flickity-viewport {
      position: relative;
      padding-bottom: var(--carousel-height);
    }

    .flickity-slider {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .carousel__caption {
      font-size: var(--font-size--1);
    }

    .carousel__image {
      height: var(--carousel-height);

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  @include min-screen($breakpoint-l) {
    height: $carousel-size / $carousel-ratio;
    grid-gap: calc(var(--web-gutter) / 2);
    grid-template-columns: 1fr $carousel-size minmax(20ch, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      ". carousel navigation"
      ". carousel caption";

    &:not(.carousel--fullWidth) {
      .carousel__caption {
        align-self: end;
      }
    }
  }
}

.carousel--fullWidth {
  .carousel__navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  @include max-screen($breakpoint-l - 1) {
    .carousel__cell {
      padding-bottom: $spacing-0;
    }

    .carousel__navigation {
      left: 0;
      text-align: center;
    }

    .carousel__image {
      img {
        height: 100vmin;
        max-height: 50vh;
        width: auto;
      }
    }
  }

  @include min-screen($breakpoint-l) {
    display: block;
    height: auto;

    .flickity-viewport {
      position: relative;
      padding-bottom: 36vmax;
    }

    .flickity-slider {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .carousel__navigation {
      // bottom: 0;
      right: $spacing-0;
    }

    .carousel__cell {
      width: unset;
      margin-right: $spacing-0 * 2;

      &:hover {
        .carousel__image {
          transform: scale3d(1.1, 1.1, 1) !important;
        }
      }
    }
    .carousel__image {
      height: 32vmax;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  grid-area: carousel;
  overflow: hidden;
}

.carousel__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .carousel__caption {
    margin-bottom: $unit;
  }
}

.carousel__image {
  height: 100%;
  transition: transform $duration-short;

  img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: $carousel-size / $carousel-ratio;
  }
}

.carousel__caption {
  grid-area: caption;
  font-size: var(--font-size-0);
  line-height: $line-height-0;
  z-index: 1;

  @include max-screen($breakpoint-l - 1) {

    .carousel:not(.carousel--fullWidth) & {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      height: $line-height-0 * 4 * 1em;
    }
  }
}

.carousel__navigation {
  grid-area: navigation;
  font-size: var(--font-size-0);
  // font-feature-settings: "tnum" 1, "lnum" 1, "liga" 0, "clig" 0, "calt" 0;

  @include max-screen($breakpoint-l - 1) {
    text-align: right;
  }
}

.carousel__button {
  color: inherit;
}
