$modal-inner-padding: $unit !default;

$modal-dialog-margin: $unit * 0.5 !default;
$modal-dialog-margin-y-sm-up: $unit !default;

$modal-title-line-height: $line-height-0 !default;

$modal-content-bg: $bg-color !default;
$modal-content-box-shadow-xs: 0 $unit * 0.25 $unit * 0.5
  rgba($black, 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0 $unit * 2 rgba($black, 0.38) !default;

$modal-backdrop-bg: $text-color !default;
$modal-backdrop-opacity: 0.62 !default;
$modal-header-border-color: transparent !default;
$modal-footer-border-color: transparent !default;
$modal-header-border-width: 0 !default;
$modal-footer-border-width: 0 !default;
$modal-header-padding-y: $unit * .5 !default;
$modal-header-padding-x: $unit !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: $web-width !default;
$modal-l: $web-width * .62;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-fade-transform: none !default;
$modal-show-transform: none !default;
// $modal-transition: transform 0.3s ease-out !default;
$modal-transition: none;
$modal-transition-duration: 0.1s;
$modal-transition-delay: $modal-transition-duration / 2;

$modal-index: $layer-modal;

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
.modal-open {
  // Kill the scroll on the body
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  // header.header,,
  // main.main,
  // footer.footer {
  //   filter: blur(.5rem);
  // }
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-index;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
  text-align: center;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;
  overscroll-behavior-y: contain;
  border-radius: $unit * .5;
  overflow: hidden;

  // When fading in the modal, animate it to slide down
  .modal.fade & {
    opacity: 0;
    transition: opacity $modal-transition-duration ease;
    // transition: $modal-transition;
    // transform: $modal-fade-transform;
  }
  .modal.show & {
    opacity: 1;
    transition: opacity $modal-transition-duration $modal-transition-delay * 2 ease;
    // transform: $modal-show-transform;
  }
}

// .modal-dialog-centered {
//   display: flex;
//   align-items: center;
//   min-height: calc(100% - (#{$modal-dialog-margin} * 2));

//   // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
//   &::before {
//     display: block; // IE10
//     height: calc(100vh - (#{$modal-dialog-margin} * 2));
//     content: '';
//   }
// }

// // Actual modal
// .modal-content {
//   position: relative;
//   display: grid;
//   grid-template-areas: "header" "body";
//   grid-gap: $gutter;
//   width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
//   // counteract the pointer-events: none; in the .modal-dialog
//   pointer-events: auto;
//   // background-clip: padding-box;
//   background-color: $white;
// //   $modal-content-bg
//   border: $gutter solid $white;
//   box-shadow: $modal-content-box-shadow-xs;
//   // Remove focus outline from opened modal
//   outline: 0;

//   @include mq($min-width: $breakpoint-xl) {
//     border-width: $gutter $gutter * 3;
//   }
// }

// // Modal background
// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   // z-index: $modal-index - 1;
//   width: 100vw;
//   height: 100vh;
//   background-color: $modal-backdrop-bg;

//   // Fade for backdrop
//   opacity: 0;
//   transition: opacity $modal-transition-duration $modal-transition-delay * 2 ease;

//   .fade & {
//     opacity: 0;
//   }
//   .show & {
//     opacity: $modal-backdrop-opacity;
//     transition: opacity $modal-transition-duration ease;
//   }
// }

// // Modal header
// // Top section of the modal w/ title and dismiss
// .modal-header {
//   grid-area: header;
//   background-color: $modal-content-bg;
//   position: relative;
//   display: flex;
//   align-items: flex-start; // so the close btn always stays on the upper right corner
//   justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
//   padding: $modal-header-padding;
//   border-bottom: $modal-header-border-width solid $modal-header-border-color;
// }

// .modal-logo {
//   font-size: $font-size-1;
//   font-weight: $font-weight-bold;
//   flex: 1;
//   text-align: left;

//   svg {
//     width: $unit * 1.5;
//     height: $unit * 1.5;
//     vertical-align: middle;
//     margin-right: $unit * .5;
//     margin-top: $unit * -0.125;
//   }
// }

// .modal-close {
//   color: $gray-1;
//   flex: 1;
//   font-size: $font-size--2;
//   letter-spacing: .035em;
//   text-align: right;
//   text-transform: uppercase;

//   &:active,
//   &:focus,
//   &:hover {
//     color: currentColor;
//   }
// }

// // Title text within header
// .modal-title {
//   flex: 3;
//   margin-bottom: 0;
//   line-height: $modal-title-line-height;
//   text-align: center;
//   width: 100%;
// }

// // Modal body
// // Where all modal content resides (sibling of .modal-header and .modal-footer)
// .modal-body {
//   grid-area: body;
//   background-color: $modal-content-bg;
//   position: relative;
//   // Enable `flex-grow: 1` so that the body take up as much space as possible
//   // when should there be a fixed height on `.modal-dialog`.
//   flex: 1 1 auto;
//   padding: $modal-inner-padding;
// }

// // Footer (for actions)
// .modal-footer {
//   display: flex;
//   align-items: center; // vertically center
//   justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
//   padding: $modal-inner-padding;
//   border-top: $modal-footer-border-width solid $modal-footer-border-color;

//   // Easily place margin between footer elements
//   > :not(:first-child) {
//     margin-left: 0.25rem;
//   }
//   > :not(:last-child) {
//     margin-right: 0.25rem;
//   }
// }

// // Measure scrollbar width for padding body during modal show/hide
// .modal-scrollbar-measure {
//   position: absolute;
//   top: -9999px;
//   width: 50px;
//   height: 50px;
//   overflow: scroll;
// }

// // Scale up the modal
// @include mq($min-width: $breakpoint-m) {
//   // Automatically set modal's width for larger viewports
//   .modal-dialog {
//     max-width: $modal-md;
//     margin: $modal-dialog-margin-y-sm-up auto;
//   }

//   .modal-dialog-centered {
//     min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));

//     &::before {
//       height: calc(100vh - (#{$modal-dialog-margin-y-sm-up} * 2));
//     }
//   }

//   .modal-content {
//     box-shadow: $modal-content-box-shadow-sm-up;
//   }

//   .modal-sm {
//     max-width: $modal-sm;
//   }
// }

// @include mq($min-width: $breakpoint-l) {
//   .modal-l,
//   .modal-xl {
//     max-width: $modal-l;
//   }
// }

// @include mq($min-width: $breakpoint-l) {
//   .modal-xl {
//     max-width: $modal-xl;
//   }
// }
