.pdf {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-lightbox;
  background: rgba($bg-color, 0.95);
  overflow-y: auto;

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    background-color: rgba($bg-color, 0.8);
    backdrop-filter: blur(10px);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $unit / 2;
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;

  > * {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }

  .pdf-is-open & {
    opacity: 1;
    pointer-events: initial;

    > * {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.pdf__view {
  .pdf--is-loading & {
    opacity: 0;
    pointer-events: none;
  }
}

.pdf__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $unit;

  svg {
    stroke: currentColor;
    stroke-width: 2px;
  }

  .pdf--is-loading & {
    opacity: 0;
    pointer-events: none;
  }
}

.pdf__pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0 0.5ch;
  }
}

.pdf__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $unit * 3;
  height: $unit * 3;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: $unit * 3;

  opacity: 0 !important;
  transition: opacity 0.1s !important;

  .pdf-is-open .pdf--is-loading & {
    opacity: 1 !important;
    transition: opacity 0.2s 0.5s !important;

    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: width;

    @keyframes pulse {
      from {
        // transform: translate(-50%, -50%) scale(1);
        width: $unit * 3;
        // height: $unit * 8;
      }
      to {
        // transform: translate(-50%, -50%) scale(1.38);
        width: $unit * 8;
        // height: $unit * 3;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pdf-is-open {
  overflow: hidden;

  .languageSwitcher,
  #mobile-menu-toggle {
    display: none;
  }
}

[data-action="click->pdf#open"] {
  cursor: pointer;
}
