.person {
  li {
    margin-bottom: 0;
  }

  .person__image,
  .person__job {
    margin-bottom: $unit;
  }

  @include max-screen($breakpoint-m - 1) {
    display: flex;

    > * {
      flex: 1;

      &:not(:first-child) {
        margin-left: $spacing-0 / 4;
      }
    }
  }
}
