.template-post {
  .post__article {
    font-size: var(--font-size-1);
  }

  .post__featureImage {
    max-height: 62vh;
    object-fit: contain;

    @include min-screen($breakpoint-l) {
      max-width: 91ch;
    }
  }

  .post__title,
  .post__intro,
  .post__text,
  .post__guests {
    margin: 0 var(--web-gutter);

    @include min-screen($breakpoint-l) {
      margin: 0 auto;
    }
  }

  .post__title {
    text-align: center;
    max-width: 50ch;
    margin-top: $spacing-0;
    margin-bottom: $spacing-0;
  }

  .post__intro,
  .post__text,
  .post__guests {
    max-width: 75ch;
  }

  .post__intro {
    margin: 0 $spacing-0 / 2 $spacing-0;

    @include min-screen($breakpoint-l) {
      display: grid;
      grid-template-columns: minmax((75ch * (340 / 980)), 1fr) minmax((75ch * (640 / 980)), 1fr);
      grid-template-areas:
        "meta perex"
        ". share";
      column-gap: 1ch;
      row-gap: $spacing-0 / 2;
      margin: 0 auto $spacing-0;
    }
  }

  // 75ch * (640/980)
  .post__meta {
    grid-area: meta;
    margin-bottom: $spacing-0 / 2;

    @include min-screen($breakpoint-l) {
      padding-right: 1ch;
    }
  }

  .post__perex {
    grid-area: perex;
    margin-bottom: $spacing-0 / 2;
  }

  .post__share {
    grid-area: share;
  }

  .post__guests {
    margin: $spacing-0 var(--web-gutter);

    h2 {
      color: $gray--2;
      text-align: center;
    }

    .guest {
      font-size: var(--font-size-0);
    }

    .guest__image {
      border-radius: $unit;
      overflow: hidden;
    }

    @include max-screen($breakpoint-m - 1) {
      .guest__name {
        text-align: center;
        margin-top: $spacing-0 / 2;
        margin-bottom: $spacing-0 / 2;
      }
    }

    @include min-screen($breakpoint-m) {
      .guest {
        display: flex;
        flex-wrap: wrap;

        .guest__image {
          flex: 1;
        }

        .guest__text {
          flex: 2;
          margin-left: 3ch;
        }
      }
    }

    @include min-screen($breakpoint-l) {
      margin: $spacing-0 auto;
    }
  }

}
