extends ../../_layouts/post.pug

prepend variables
  - const post = projects.find(project => project.id === "vyzva-brnenskych-kulturnich-instituci-k-vyhlaseni-stavu-klimaticke-nouze-na-uzemi-mesta-brna")
