//- image
//- title
//- text
//- url

mixin card(data, importedOptions = {})

  if importedOptions.variant === "noodle"
    a.card.card--noodle(href= data.url download= (data.extension ? "" : false))
      .card__inner
        each item, key in data
          if key !== "url"
            div(class=`card__${key}`)= item

        .card__readMore
          .button--inline= data.extension ? "Stáhnout" : "Něco jiného"

  else if data.url
    -
      const defaultOptions = {
        readMore: '',
        variant: '',
        highlight: false,
      };
      const options = Object.assign({}, defaultOptions, importedOptions)

    a.card(href= data.url
      class=(options.variant ? `card--${options.variant}` : '' )
      class={'card--highlight': options.highlight}
    )

      if data.image
        .card__image
          +image(data.image)

      .card__inner
        if data.date
          .card__date= data.date

        if data.time
          .card__time= data.time

        if data.title
          .card__title
            h3
              if data.issue
                .card__issue= `Cedit #0${data.issue}: `
              span= data.title
            if data.tag
              .card__tag= data.tag

        if data.text
          .card__text
            p= data.text

        if data.venue
          .card__venue= data.venue

        if data.author
          .card__author= data.author

        if options.readMore
          .card__readMore
            .button--inline= options.readMore

  else
    .card
      if data.image
        .card__image
          +image(data.image)
      .card__inner
        .card__title
          h3= data.title
          if data.tag
            .card__tag= data.tag

        .card__text
          p= data.text
