mixin carousel(data, importedOptions = {}, title)
  -
    const defaultOptions = {
      caption: "outside",
      fullWidth: false,
      setGallerySize: false,
    }
    const options = Object.assign({}, defaultOptions, importedOptions)

  //- .carousel(data-controller="carousel")
  .carousel(
    data-controller="carousel"
    class={"carousel--fullWidth": options.fullWidth}
    class!= attributes.class
    data-options= options
  )
    each item in data
      .carousel__cell(
        data-carousel-caption-value= item.caption || ''
        data-action= item.pdf ? 'click->pdf#open' : false
        data-pdf-url-value= item.pdf ? `/assets/public/${item.pdf}` : false
      )
        if options.caption === 'inside'
          .carousel__caption= item.caption || ''

        .carousel__image(
          style= item.rotation ? `transform: rotate(${item.rotation}deg)` : false
        )
          +image(item.image)(alt= item.caption || '')

    .carousel__navigation
      if title && !options.fullWidth
        .carousel__title= title

      button.carousel__button.carousel__button--previous(data-action='click>carousel#previous')
        span ←
        span(data-carousel-target="currentIndex") 1
      span /
      button.carousel__button.carousel__button--next(data-action='click>carousel#next')= data.length + " →"

    if options.caption === 'outside'
      - const caption = data.find(item => item.caption);
      if caption
        - const captionIndex = data.findIndex(item => item.caption);
        .carousel__caption(data-carousel-target="caption") !{captionIndex === 0 ? caption.caption : ''}
