mixin image(image, importedOptions = {})
  -
    const isURL = image.indexOf('//') > -1;
    const isSVG = image.indexOf('.svg') > -1;

  if isURL|| isSVG
    img(
      src= isSVG && !isURL ? `/assets/img/${image}` : image
      alt!=attributes.alt
      class!=attributes.class
    )

  else
    -
      const defaultOptions = {
        sizes: false,
        isLazy: true,
      };
      const options = Object.assign({}, defaultOptions, importedOptions)

      image = `/assets/img/${image}`.split('.');
      const extension = image[1] || 'jpg';

      const dimensions = imageSize(image[0].replace('/assets', './src') + `.${extension}`);

      const srcset = [
        //- {
        //-   media: {
        //-     min: 0,
        //-     max: 420,
        //-   },
        //-   size: 400,
        //- },
        {
          media: {
            min: 0,
            //- min: 420,
            //- max: 768,
            max: 576,
          },
          size: 750,
        },
        //- {
        //-   media: {
        //-     min: 768,
        //-     max: 1024,
        //-   },
        //-   size: 980,
        //- },
        {
          media: {
            min: 577,
            max: 1200,
          },
          size: 1490,
        },
        //- {
        //-   media: {
        //-     min: 1600,
        //-     max: 2200,
        //-   },
        //-   size: 2000,
        //- },
        {
          media: {
            min: 1201,
            //- min: 2200,
            max: false,
          },
          size: 3000,
          sufix: '',
        },
      ];

      const getAttrSizes = () => {
        if (extension === 'png') return false;

        return options.sizes ? options.sizes : srcset.map(source => source.media.max ? `(max-width: ${source.media.max}px) ${source.size}px` : `${source.size}px`).join();
      }

      const attrSrcset = extension === 'png' ? false : srcset.map(source => `${image[0]}${source.sufix !== undefined ? source.sufix : '-' + source.size + 'w'}.${extension} ${source.size}w`).join();

      const getSrc = () => extension === 'png' ? image.join('.') : attrSrcset[attrSrcset.length - 2].split(' ')[0]

    if options.isLazy
      img(
        data-lozad=""
        data-srcset= attrSrcset
        data-src= getSrc()
        sizes= getAttrSizes()
        src=`${image[0]}-placeholder.${extension}`
        width= dimensions.width
        height= dimensions.height
        class!=attributes.class
        alt!=attributes.alt
      )
    else
      img(
        srcset= attrSrcset
        sizes= getAttrSizes()
        src= getSrc()
        width= dimensions.width
        height= dimensions.height
        class!=attributes.class
        alt!=attributes.alt
      )
