mixin modal(id, size, branch = false, language = "en")
  .modal.fade(id=`smg-modal-${id}` data-modal=(branch ? "branch" : "") tabindex="-1" role="dialog" aria-labelledby=`smg-modal-${id}` aria-hidden="true" style="pointer-events: none;" class!=attributes.class)
    .modal-backdrop(data-dismiss="modal")
    .modal-dialog(role="document" class= size ? "modal-" + size : "")
      .modal-content
        .modal-header
          .modal-logo
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 140 140")
              use(xlink:href="#svg-logo")
            span SmartGuide
          //- h2.modal-title Default modal title
          button.modal-close(type="button" data-dismiss="modal" aria-label= t.modal.close[language])= t.modal.close[language]
        .modal-body
          if block
            block
          else
            p No content.
        //- .modal-footer
        //-   button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        //-   button.btn.btn-primary(type="submit") Save changes
