mixin person(data)
  .person
    .person__image
      +image(data.image)

    ul.person__text

      if data.name
        li.person__name= data.name
      if data.job
        li.person__job= data.job
      if data.mobile
        li.person__mobile
          a(href="tel:" + data.mobile.replace(/\s/g, ''))= data.mobile
      if data.telephone
        li.person__telephone
          a(href="tel:" + data.telephone.replace(/\s/g, ''))= data.telephone
      if data.email
        li.person__email
          a(href="mailto:" + data.email)= data.email

      if data.text
        each text in data.text
          li.person__item= text
