mixin share(link)
  .share
    .share__label Sdílet:
    .share__buttons
      //- https://developers.facebook.com/docs/plugins/share-button/
      button.button--inline.share__button(data-href= link) Facebook
      //- https://help.twitter.com/en/using-twitter/add-twitter-share-button
      button.button--inline.share__button(data-share-url= link) Twitter
      //- https://medium.com/@bharatramnani/copy-text-from-html-using-vanilla-javascript-66217b68c009
      button.button--inline.share__button(data-href= link) Link
