img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  // width: 100%;
  height: auto;
  object-fit: cover;

  &[data-lozad] {
    opacity: 0.38;
    transition: opacity 1s ease;
  }

  &[data-fully-loaded="true"] {
    opacity: 1;
  }
}

svg {
  fill: currentColor;
  stroke: transparent;
  stroke-width: 0;
  max-width: 100%;
}

.media--image {
  img {
    max-height: 80vh;
    object-fit: contain;
  }

  figcaption {
    font-size: var(--font-size--2);
    max-width: 90ch;
    margin: var(--web-gutter) auto 0;
    color: $gray--2;
  }
}

.media--video {
  .media__label {
    color: $action-color;
    text-transform: lowercase;
  }

  figcaption {
    margin-bottom: $spacing-0 / 2;
  }

  .video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
