// 34 / 40

:root {
  --web-gutter: 1em;

  --font-size-4: clamp(1.5rem, 0.9539rem + 2.3301vw, 3.75rem); // 60 / 60 __ 24 / 32
  --font-size-3: clamp(1.875rem, 1.5261rem + 1.4887vw, 3.3125rem); // 53 / 70 __ 30 / 34
  --font-size-2: clamp(1rem, 0.7876rem + 0.9061vw, 1.875rem); // 30 / 30 __ 16 / 18
  --font-size-1: clamp(1rem, 0.8483rem + 0.6472vw, 1.625rem); // 26 / 32 __ 16 / 21
  --font-size-0: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem); // 20 / 26 __ 16 / 21
  --font-size--1: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem); // 16 / 21 __ 14 / 21
  --font-size--2: clamp(0.75rem, 0.7197rem + 0.1294vw, 0.875rem); // 14 / 16 __ 12 / 15

  --button-shadow-width: 2px;
  --button-shadow-width--: calc(var(--button-shadow-width) * -1);
  --button-shadow-color--top: rgba(255,255,255, .5);
  --button-shadow-color--bottom: rgba(0,0,0, .1);

  --card-size: 45%;
  --card-spacing: var(--web-gutter);

  @include min-screen($breakpoint-m) {
    --web-gutter: 1.3em;
    --card-size: 50%;
  }

  @include min-screen($breakpoint-l) {
    --button-shadow-width: 3px;
  }
}
