body {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

header.header,
main.main {
  background-color: $bg-color;
}

header.header,
main.main,
footer.footer {
  width: 100%;
  // max-width: $web-width-max;
  margin: 0 auto;
}

main {
  flex: 1;
  // padding-top: $spacing-0;

  .has-secondary-navigation & {
    padding-top: $spacing-0;
  }

  @include min-screen($breakpoint-l) {
    padding-top: $spacing-0 * 2;

    .has-secondary-navigation & {
      padding-top: $spacing-0 * 4;
    }
  }
}

.section--image,
.section--video,
.section--text,
.section--people,
.section--file {
  margin: $spacing-0 * 2 var(--web-gutter);

  @include min-screen($breakpoint-l) {
    margin: $spacing-0 * 2 auto;
  }
}

.section--image,
.section--video {
  @include min-screen($breakpoint-l) {
    max-width: 80vw;
  }
}

.section--text,
.section--people {
  max-width: 75ch;
}

.section--file  {
  max-width: 90ch;
}

.section--carousel {
  // same as in pages/_calendar.scss
  background-color: $text-color;
  color: $bg-color;
  margin: $spacing-0 auto;
  padding: var(--web-gutter)  0;

  .section__title {
    margin: $spacing-0 auto $spacing-0;
  }
}

// TODO: unify with markup/structure above
.section--hero,
.section--cedit, // homepage
.section--platforms, // homepage
.section--archive {
  > :not(.section__background):not(.section__withRightColumn) {
    margin: $spacing-0 auto;
  }

  > :not(.section__withRightColumn) {
    max-width: 85ch;
  }

  @include max-screen($breakpoint-l - 1) {
    padding: 0 var(--web-gutter);

    > .section__withRightColumn {
      padding: 0;
    }
  }
}

.section--hero {
  position: relative;
  margin-bottom: $spacing-0 * 2;
}

.section__title {
  text-align: center;
  margin: $spacing-0 * 2 auto $spacing-0;

  h1,
  h2 {
    color: $gray--1;
  }

  > :not(:last-child) {
    margin-bottom: $spacing-0 / 4 auto;
  }
}

.section__background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  & ~ * {
    mix-blend-mode: difference;
    color: $bg-color;
  }
}

.section__grid {
  display: grid;
  grid-gap: $spacing-0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section__withRightColumn {
  .section__item--link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-2);
    line-height: $line-height-0;
    margin-right: $spacing-0 / 4;
    text-align: left;

    a {
      color: $text-color;
    }
  }

  @include max-screen($breakpoint-l - 1) {
    .section__item--link {
      margin-top: $spacing-0 / 2;
    }
  }

  @include min-screen($breakpoint-l) {
    display: grid;
    grid-template-columns: 1fr 73vw minmax(20ch, 1fr);
    grid-gap: 1ch;
    grid-template-areas: ". main link";

    > :not(.section__item--link) {
      grid-area: main;
    }

    .section__item--cards {
      display: flex;

      > * {
        &:not(:first-child) {
          margin-left: $spacing-0 / 2;
        }
      }
    }

    .section__item--link {
      grid-area: link;
    }
  }
}

// .section {}
// .section__inner {}
// .section__item {}
