html {
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "onum" 0, "pnum" 1;
  font-size: 100%; // 16px fallback
}

body {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $bg-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: var(--font-size-0);
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: currentColor;
  font-family: $heading-font-family;
  font-feature-settings: "dlig" 0;
  font-weight: $font-weight-regular;
  margin: 0;
}

h1, .h1,
h2, .h2 {
  font-weight: $font-weight-light;
  margin-bottom: 1em;
}

h1, .h1,
h3, .h3 {
  line-height: $line-height--1;
}

h1, .h1 {
  font-size: var(--font-size-4);
}

h2, .h2 {
  font-size: var(--font-size-3);
}

h3, .h3 {
  font-size: var(--font-size-2);
}

h4, .h4 {
  font-size: var(--font-size-1);
}

h5, .h5 {
  font-size: var(--font-size-0);
  font-weight: $font-weight-bold;
}

h6, .h6,
.label {
  font-size: var(--font-size--1);
}

// Set margins between headings
h1 + h2,
.h1 + h2,
h1 + .h2,
.h1 + .h2 {
  margin-top: $unit;
}

h2 + h3,
.h2 + h3,
h2 + .h3,
.h2 + .h3 {
  margin-top: $unit * -0.5 * 1.1;
  margin-bottom: $unit;
}

h3 + h4,
h4 + h5 {
  margin-top: $unit * 0.5;
}

h5 + h6,
.h5 + h6,
h5 + .h6,
.h5 + .h6 {
  margin-top: $unit * -0.5;
}

//
p {
  &.text-smaller {
    margin-bottom: $unit * 0.5;
  }
}

//
a {
  color: $action-color;
  text-decoration: none;
  // transition: color $duration-shorter $easing-in-out, border-bottom-color $duration-shorter $easing-in-out;
  // border-bottom: 1px solid transparent;

  &:active,
  &:focus,
  &:hover,
  &.active {
    // color: $hover-color;
    // border-bottom-color: currentColor;
  }

  p &,
  ul &,
  ol & {
    // color: currentColor;

    &:hover {
      text-decoration: underline;
    }
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
ol,
ul {
  margin: 0 0 $unit;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: $unit * 0.5;
}

//
// blockquote {
//   position: relative;
//   padding: 0;
//   margin: 0;
//   font-style: italic;

//   @include min-screen($breakpoint-l) {
//     &::before {
//       content: "„";
//       position: absolute;
//       bottom: 100%;
//       right: calc(100% + #{$unit * 0.25});
//       font-size: $font-size-4;
//     }
//   }


//   p {
//     margin: 0 0 ($unit * 0.5);

//     &:last-of-type {
//       margin-bottom: $unit * 0.5;
//     }
//   }

//   + .source,
//   + .zdroj {
//     text-align: right;
//   }
// }

dt {
  margin-bottom: $unit * 0.25;

  a {
    // font-size: $font-size-1;
    color: $text-color;

    // line-height: $line-height-2;

  }
}

dd {
  // font-size: $font-size-1;
  // line-height: $line-height-2;
  max-width: $unit * 20;
  margin-left: 0;

  &:not(:last-child) {
    margin-bottom: $unit;
  }
}

//
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $unit 0;
}

//
figure {
  margin: 0;
  padding: 0;
}

video {
  margin: 0 auto $unit;
}

//
// .text-large {
//   font-size: $font-size-0;
//   line-height: $line-height-0;

//   @include min-screen($breakpoint-l) {
//     font-size: $font-size-1;
//     line-height: $line-height-1;
//   }
// }

// .text-normal {
//   font-size: $font-size-0;
//   line-height: $line-height-0;
// }

// .text-small {
//   font-size: $font-size-0;
//   line-height: $line-height-0;

//   @include min-screen($breakpoint-l) {
//     font-size: $font-size--1;
//     line-height: $line-height--1;
//   }
// }

// .text-smaller {
//   font-size: $font-size-1;
//   line-height: $line-height-2;

//   a {
//     line-height: $line-height-2;
//   }
// }

// .text-center {
//   text-align: center;
// }

// .text-left {
//   text-align: left;
// }

// .text-right {
//   text-align: right;
// }

// .text-light {
//   font-weight: 400;
// }

// .text-uppercase {
//   text-transform: uppercase;
//   letter-spacing: .04em;
// }

// .label {
//   display: inline-block;
//   text-transform: uppercase;
//   letter-spacing: .04em;
// }
