.template-calendar {
  --calendar-event-color: #{$gray--2};

  .calendar {
    margin: 0 var(--web-gutter);

    @include min-screen($breakpoint-l) {
      max-width: 100ch;
      margin: 0 auto;
    }
    @include min-screen($breakpoint-xxl) {
      width: 73vw;
    }
  }

  .calendar__filter {
    margin-bottom: $spacing-0 / 2;
  }

  .calendar__item {
    margin-bottom: $spacing-0;
    position: relative;

    @include max-screen($breakpoint-m - 1) {
      font-size: var(--font-size--1);
    }
    @include max-screen($breakpoint-s - 1) {
      font-size: var(--font-size--2);
    }

    @include min-screen($breakpoint-l) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $spacing-0 / 2;
    }
  }

  .calendar__date,
  .calendar__venue,
  .calendar__time {
    color: var(--calendar-event-color);
  }

  .calendar__date {
    @include max-screen($breakpoint-l - 1) {
      text-align: center;
      margin-bottom: $spacing-0 / 4;
    }

    @include min-screen($breakpoint-l) {
      margin-right: $spacing-0 * 2;
      align-self: start;
      position: sticky;
      top: 0;
    }
  }

  .calendar__events {
    flex: 1;

    background-color: $gray-0;
    box-shadow:
      0px var(--button-shadow-width--) 0px 0px var(--button-shadow-color--top),
      0px var(--button-shadow-width) 0px 0px var(--button-shadow-color--bottom);
    border-radius: $unit;
    padding: var(--card-spacing) calc(var(--card-spacing) * 1.5);

    @include min-screen($breakpoint-l) {
      border-radius: $unit * 2;
      padding: $spacing-0 / 3 $spacing-0 / 2;
    }
  }

  .calendar__event {
    display: grid;
    gap: $spacing-0 / 10;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "time venue venue"
      "name name url";

    &:not(:first-child) {
      margin-top: $spacing-0 / 1.5;
    }

    @include min-screen($breakpoint-m) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        "time venue venue"
        "name name url";
    }

    @include min-screen($breakpoint-l) {
      display: grid;
      gap: $spacing-0 / 2;
      grid-template-columns: 1fr 4fr 2fr 1fr;
      grid-template-areas: "time name venue url";

      &:not(:first-child) {
        margin-top: $spacing-0 / 8;
      }

      &:hover {
        --calendar-event-color: currentColor;

        .calendar__url {
          opacity: 1;
        }
      }
    }
  }

  .calendar__event--ced {
    grid-template-areas:
      "time venue venue"
      "name name url"
      "about about about";

    &:not(:last-child) {
      padding-bottom: $spacing-0 * .75;
    }

    @include min-screen($breakpoint-l) {
      grid-template-areas:
        "time name venue url"
        "about about about about";
    }

    .calendar__venue,
    .calendar__time {
      color: currentColor;
    }
  }

  .calendar__time {
    grid-area: time;
  }

  .calendar__name {
    grid-area: name;
    color: $green;
  }

  .calendar__venue {
    grid-area: venue;
  }

  .calendar__url {
    grid-area: url;

    //  @media not all and (hover: none) and (min-width: $breakpoint-l) {
    @include min-screen($breakpoint-l) {
      opacity: 0;
    }
  }

  .calendar__about {
    grid-area: about;

    @include min-screen($breakpoint-m) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .calendar__image,
  .calendar__text {
    flex: 1;
  }

  .calendar__image {
    padding-top: $line-height-1 / 4 * 1em;

    img {
      width: 100%;
    }
  }

  .calendar__text {
    @include max-screen($breakpoint-m - 1) {
      margin-top: $spacing-0 / 2;
    }

    @include min-screen($breakpoint-m) {
      font-size: var(--font-size--1);
      margin-left: $spacing-0 / 2;
    }
  }

  .filter {
    text-align: center;

    @include max-screen($breakpoint-l - 1) {
      margin-bottom: $spacing-0;
    }
    @include min-screen($breakpoint-l) {
      text-align: right;
    }
  }

  .filter__item {

    &::before {
      content: "+\a0";
      vertical-align: text-top;
    }

    &,
    &.is-selected:hover {
      color: $gray--2;
    }

    &:hover,
    &.is-selected {
      color: $text-color;
    }

    &.is-selected {
      &::before {
        content: "×\a0";
      }
    }

    &:not(:first-child) {
      margin-left: $spacing-0 / 2;
    }
  }
}
