#page-casopis-cedit {
  .section--carousel {
    padding: var(--web-gutter) 0 calc(var(--web-gutter) * 3);
  }

  .carousel__navigation {
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + var(--web-gutter) / 2);
  }
}
