#page-homepage {
  .section {
    margin-bottom: $spacing-0 * 2;
  }

  .section--hero {
    position: relative;
    width: 100vw;
    height: 638 / 1493 * 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    .section__textWithHeading,
    .section__background {
      max-width: initial;
    }

    .section__background {
      pointer-events: none;
    }

    .section__textWithHeading {
      color: $bg-color;
      text-align: center;

      a {
        display: block;
        color: currentColor;

        &:hover {
          color: $action-color;
        }
      }

      h1 {
        font-size: 5.5vw;
      }
    }

    .section__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;
      overflow: visible;
    }

    // img {
    //   position: absolute;
    //filter: contrast(1.75);
    //   //mix-blend-mode: lighten;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   z-index: -1;
    // }

    svg {
      overflow: visible;
    }

    circle {
      fill: currentColor;
      backface-visibility: hidden;
      will-change: opacity, transform;
      transform-origin: 50% 50%;
      transition: opacity 0.15s;
    }

    path {
      fill: none;
      stroke: transparent;
      stroke-width: 0;
    }

    .button--inline {
      color: currentColor;
      font-size: var(--font-size--2);
    }

    @include min-screen($breakpoint-l) {
      margin: $spacing-0 * 2 auto $spacing-0 * 4;
    }
  }

  .section--events {
    // https://utopia.fyi/generator-mk-ii/?c=375,200,1.2,1490,280,1.25,0,0,
    --card-square-size: clamp(12.5rem, calc(10.8184rem + 7.1749vw), 17.5rem);

    .card--calendar {
      width: var(--card-square-size);
      height: var(--card-square-size);

      .card__inner {
        grid-template-columns: 1fr auto;
      }
    }

    @include max-screen($breakpoint-l - 1) {
      .section__withRightColumn {
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: var(--web-gutter);
          height: 100%;
          z-index: 1;
        }

        &::before {
          left: 0;
          background: linear-gradient(
            90deg,
            $bg-color 0%,
            rgba($bg-color, 0) 100%
          );
        }

        &::after {
          right: 0;
          background: linear-gradient(
            90deg,
            rgba($bg-color, 0) 0%,
            $bg-color 100%
          );
        }
      }

      .section__item--cards {
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-padding: $spacing-0 / 2;
        scroll-snap-type: x mandatory;
        display: flex;
        padding: 0 var(--web-gutter) $spacing-0 / 2;
      }

      .card--calendar {
        min-width: var(--card-square-size);
        scroll-snap-align: start;

        &:not(:first-child) {
          margin-left: $spacing-0 / 2;
        }

        .card__inner {
          grid-template-rows: auto 1fr auto;
        }
      }
    }

    @include screen($breakpoint-l, $breakpoint-xxl) {
      --card-square-size: calc((90vw / 5) - #{$spacing-0 / 2 / (5 - 1)});

      .section__withRightColumn {
        grid-template-columns: 1fr 90vw 1fr;
        grid-template-areas:
          '. main .'
          '. link .';
      }
    }

    @include min-screen($breakpoint-xxl) {
      --card-square-size: calc((73vw / 5) - #{$spacing-0 / 2 / (5 - 1)});
    }
  }

  .section--cedit {
    @include max-screen($breakpoint-l - 1) {
      .card--cedit {
        &:not(:first-child) {
          margin-top: $spacing-0 / 2;
        }
      }

      .card__inner {
        // grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas:
          'title'
          'author';
      }

      .card__author {
        display: block;
      }
    }

    @include min-screen($breakpoint-l) {
      .card--cedit {
        flex: 1 calc((73vw / 2) - #{$spacing-0 / 2 / (2 - 1)});
        // height: calc((73vw / 4) - #{$spacing-0 / 2 / (2 - 1)});
        padding-bottom: 25%;
      }
    }

    .section__imageButton {
      position: relative;
      min-height: 300px;
      height: 62vmin;

      img {
        max-height: 100%;
      }

      .button {
        position: absolute;
        top: 50%;

        @include max-screen($breakpoint-l - 1) {
          transform: translateY(-50%);
          left: 0;
          right: 0;
        }

        @include min-screen($breakpoint-l) {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
      }
    }
  }

  .section--projects {
    img {
      width: auto;
      max-height: 62vmin;
    }
  }

  .section--platforms {
    .section__inner {
      display: grid;
      grid-gap: var(--web-gutter);
      grid-template-areas: 'facebook instagram';
      grid-template-columns: 1fr 1fr;
    }

    .section__item--facebook {
      grid-area: facebook;
    }
    .section__item--instagram {
      grid-area: instagram;
    }
  }

  .section--instafeed {
    margin-bottom: 0;
  }

  .instafeed {
    display: flex;
    height: (100vw / 2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .instafeed__item {
    display: none;

    &:nth-child(1),
    &:nth-child(2) {
      display: block;
    }
  }

  @include min-screen($breakpoint-s) {
    .instafeed {
      height: (100vw / 3);
    }

    .instafeed__item {
      &:nth-child(3) {
        display: block;
      }
    }
  }
  @include min-screen($breakpoint-m) {
    .instafeed {
      height: (100vw / 5);
    }

    .instafeed__item {
      &:nth-child(4),
      &:nth-child(5) {
        display: block;
      }
    }
  }
  @include min-screen($breakpoint-l) {
    .instafeed {
      height: (100vw / 7);
    }

    .instafeed__item {
      &:nth-child(6),
      &:nth-child(7) {
        display: block;
      }
    }
  }
  @include min-screen($breakpoint-xl) {
    .instafeed {
      height: (100vw / 8);
    }

    .instafeed__item {
      &:nth-child(8) {
        display: block;
      }
    }
  }
  @include min-screen($breakpoint-xxl) {
    .instafeed {
      height: (100vw / 9);
    }

    .instafeed__item {
      &:nth-child(9) {
        display: block;
      }
    }
  }

  #footer {
    margin-top: 0;
  }
}

[data-controller='scattered-text'] {
  .section:hover & {
    span {
      transform: none !important;
    }
  }

  span {
    display: inline-block;
    transition: transform $duration-short ease;
    will-change: transform;
  }
}
