#page-knihovna-archiv {
  .section--contact {
    margin: 0 var(--web-gutter);
    max-width: 75ch;

    @include min-screen($breakpoint-l - 1) {
      margin: $spacing-0 * 2 auto;
    }

    [class^="section__item"] {
      width: 100%;
      margin-bottom: $spacing-0 * 2;
    }
  }

  .section__item--opening-hours {
    > * {
      font-size: var(--font-size-3);
      line-height: $line-height-0;
    }

    li {
      display: flex;
      justify-content: space-between;
    }

    @include max-screen($breakpoint-l - 1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > * {
        flex: 1;

        &:first-child {
          flex: 1 0 100%;
          margin-bottom: $spacing-0 / 2;

          li {
            display: inline-block;

            &:not(:first-child) {
              &::before {
                content: ", \00a0";
                display: inline;
              }
            }
          }
        }

        &:last-child {
          margin-left: $spacing-0 / 4;
        }
      }
    }

    @include min-screen($breakpoint-l) {
      columns: 3;

      > * {
        break-inside: avoid;
        page-break-inside: avoid;
        font-size: var(--font-size-2);
      }
    }
  }

  .section__item--button {
    text-align: center;
  }

  .section__item--persons {
    @include min-screen($breakpoint-m) {
      .text {
        columns: 2;

        > * {
          break-inside: avoid;
          page-break-inside: avoid;
        }
      }

      .person {
        font-size: var(--font-size--1);

        .person__image {
          margin-bottom: $spacing-0 / 2;
        }

        img {
          width: 100%;
          height: auto;
        }

        li {
          margin-bottom: 0;
        }
      }
    }
  }

}
