@font-face {
  font-family: "Plain";
  src: url("Plain-Light.woff2") format("woff2"),
    url("Plain-Light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  /* font-display: swap; */
}
@font-face {
  font-family: "Plain";
  src: url("Plain-LightItalic.woff2") format("woff2"),
    url("Plain-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  /* font-display: swap; */
}


@font-face {
  font-family: "Plain";
  src: url("Plain-Regular.woff2") format("woff2"),
    url("Plain-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
}
@font-face {
  font-family: "Plain";
  src: url("Plain-RegularItalic.woff2") format("woff2"),
    url("Plain-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  /* font-display: swap; */
}


@font-face {
  font-family: "Plain";
  src: url("Plain-Bold.woff2") format("woff2"),
    url("Plain-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  /* font-display: swap; */
}
@font-face {
  font-family: "Plain";
  src: url("Plain-BoldItalic.woff2") format("woff2"),
    url("Plain-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  /* font-display: swap; */
}
