extends ../_layouts/archive.pug

prepend variables
  -
    const collection = cedit
    const archive = pages.cedit

append variables
  -
    page.id = "casopis-cedit"
    page.archive = {
      card: {
        variant: "cedit",
        readMore: "Přečíst"
      },
    }

append javascript
  //- https://github.com/mozilla/pdf.js
  script(defer src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js" integrity="sha384-CFcOHLr4Ts/nHJbmytHqypQ6ZVuN/HqTsjHvsjSk9pC+eijPzJFvES6mmVJwFxAI" crossorigin="anonymous")
  script(defer src=baseUrl + "assets/js/pdf.build.js?" + Math.floor(Date.now() / 1000))

append footer
  .pdf.pdf--is-loading(data-controller="pdf")
    .pdf__controls
      a.pdf__control--download(href="" download="" data-pdf-target="download") Stáhnout
      .pdf__pagination
        button.pdf__control--previous(data-action="click->pdf#previous") ←
        span
          span(data-pdf-target="num")
          span /
          span(data-pdf-target="count")
        button.pdf__control--next(data-action="click->pdf#next") →
      button.pdf__control--close(data-action="click->pdf#close")
        svg.icon.icon--close(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 54 54")
          line(x1="15.1" x2="38.9" y1="14.68" y2="39.57")
          line(x1="15.1" x2="38.9" y1="39.64" y2="14.36")

    .pdf__spinner(data-pdf-target="spinner")
    canvas.pdf__view(data-pdf-target="view")
