extends ../_layouts/base.pug

append variables
  -
    page.id = "homepage";
    //- page.template = "archive";
    page.meta = {
      title: `${metadata.title} – Home`,
      description: metadata.description,
      url: metadata.url,
      //- image: `${metadata.url}assets/img/projects/${projects[0].id}/${projects[0].preview.image[0]}-750w.jpg`,
    }

append javascript
  script(defer src=baseUrl + "assets/js/animation.build.js?" + Math.floor(Date.now() / 1000))

block content

  section.section.section--hero(data-controller="animation")
    .section__background(data-animation-target="svg")
      //- svg animation from animation.js

    .section__textWithHeading
      a(href="/o-nas/vize/" data-animation-target="link")
        h1 Centrum experimentálního divadla

  section.section.section--carousel
    -
      //- carousel needs an image & a caption
      const carousel = projects.filter(project => project.featureImage).slice(0, 5).map(project => {
        return {
          image: project.featureImage,
          caption: project.title,
        }
      })
    +carousel(carousel, {}, "Aktuálně")(class="carousel--standard")


  section.section.section--events
    .section__title
      h2(data-controller="scattered-text") hrajeme
    .section__withRightColumn
      //- .section__item
      .section__item--cards
        each event in events.slice(0,5)
          -
            const card = {
              data: {
                date: event.date,
                time: event.time,
                title: event.name,
                venue: event.venue,
                url: event.url,
                image: event.image,
              },
              options: {
                variant: 'calendar'
              },
            }
          +card(card.data, card.options)

      .section__item--link
        a(href="/program/" data-controller="scattered-text") celý<br>program →

  section.section.section--cedit
    .section__title
      h2(data-controller="scattered-text") časopis
      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 172.8 33.7")
        path(d="M24.74 11.45h6.34C29.62 4.69 24.62.06 16.33.06v5.12a8.82 8.82 0 018.42 6.27m-8.43 17.13v5.12c8.08 0 13.06-4.71 14.7-11h-6.4a8.62 8.62 0 01-8.3 5.91M0 16.82C0 26 5.59 33 14.75 33.64V28.5c-5.26-.63-8.23-5-8.23-11.62 0-6.25 3-10.94 8.23-11.62V.12C5.73.84 0 7.77 0 16.82")
        path(d="M60 0v5c5 .22 7.9 3.69 8.43 8.64H60v4.87h14.78v-2C74.78 8 70.09.2 60 0m-.16 28.58c-6.09 0-9.87-4.45-10-10.06h8.64v-4.87H50c.62-5 3.88-8.18 8.4-8.61V0c-8.92.55-14.86 7.45-14.86 17 0 10 6.15 16.64 16 16.64 7.62 0 12.8-4.14 14.56-9.93H68c-1.65 2.74-3.78 4.81-8.17 4.81")
        path(d="M110.14 3.31C106.53 1 101.67.8 97.16.79v5h2.15c7.23 0 11.59 3.78 11.59 11.1 0 8.26-4.49 11-12.17 11H97.2v4.94c5.89 0 10.2-.27 14-3.33a16 16 0 005.62-12.66c0-5.89-2.52-11-6.65-13.61M89.88 32.91h5.71V.79h-5.71z")
        path(d="M129.05 32.91h5.71V.79h-5.71z")
        path(d="M155.91 32.91h5.71V7.19h-5.71z")
        path(d="M172.69.79h-27.85a.11.11 0 00-.11.11v4.66a.11.11 0 00.11.11h27.85a.1.1 0 00.11-.11V.9a.11.11 0 00-.11-.11")

    .section__textWithHeading
      .textWithHeading
        .heading
          h5 Kontexty a přesahy tvorby Centra experimentálního divadla
        .text
          p Centrum experimentálního divadla vydává vlastní časopis s názvem CEDIT. Čtvrtletník byl založen v roce 2019 a je důležitým prostorem pro přemýšlení o divadle, umění, kultuře, ale i o tématech, která nás zajímají. Navazujeme jím na tradici avantgardních divadelních časopisů a obsáhlých sezonních programů divadel, které stály na pomezí mezi tvorbou a jejich reflexí. Každé číslo protkává jedno hlavní téma. CEDIT vychází třikrát za sezonu.

    .section__withRightColumn
      .section__item--cards
        each article in cedit.slice(0,2)
          -
            const card = {
              data: {
                title: `Cedit #${article.issue}: ${article.title}`,
                image: article.featureImage,
                author: article.author,
                url: `casopis-cedit/${slugify(article.title).toLowerCase()}`,
              },
              options: {
                variant: "cedit",
              }
            }
          +card(card.data, card.options)
      .section__item--link
        a(href="/casopis-cedit/" data-controller="scattered-text") více<br>článků →

    .section__imageButton
      +image('cedit-casopisy.jpg')
      a.button.button--yellow(href="/casopis-cedit/ctecka/") Prolistovat aktuální číslo


  section.section.section--projects
    .section__title
      h2(data-controller="scattered-text") další

    .section__withRightColumn
      .section__item
        +image('projekty.png')
      .section__item--link
        a(href="/projekty/" data-controller="scattered-text") přehled<br>projektů →

  section.section.section--platforms
    .section__title
      h2(data-controller="scattered-text") spojte se s námi

    .section__inner
      .section__item.section__item--facebook
        a(href="https://www.facebook.com/ced.brno/" target="_blank" rel="noopener noreferrer")
          img(src="/assets/img/svg/ced-facebook.svg" alt="facebook")
      .section__item.section__item--instagram
        a(href="https://www.instagram.com/ced_brno/" target="_blank" rel="noopener noreferrer")
          img(src="/assets/img/svg/ced-instagram.svg" alt="instagram")
      .section__item.section__item--instafeed

  section.section.section--instafeed
    .instafeed
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
      .instafeed__item
        img(src="https://www.ced-brno.cz/imagext.php?id=10593330&type=large" alt="")
