extends ../_layouts/base.pug

append variables
  -
    page.id = "contacts";
    //- page.template = "archive";
    page.meta = {
      title: `${metadata.title} – Kontakty`,
      description: metadata.description,
      url: `${metadata.url}/kontakty/`,
      //- image: `${metadata.url}assets/img/projects/${projects[0].id}/${projects[0].preview.image[0]}-750w.jpg`,
    }

prepend css
  link(href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet")

prepend javascript
  script(src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js")

block content

  section.section.section--map
    .map#map
    script.
      var geojson = {
        type: 'FeatureCollection',
        features: [{
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [16.607901, 49.191971]
          },
          properties: {
            title: 'Centrum experimentálního divadla<br>Husa na provázku<br>Platforma Terén',
            description: 'Zelený trh 9, Brno'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [16.610220, 49.194630]
          },
          properties: {
            title: 'HaDivadlo',
            description: 'Alfapasáž, Poštovská 8d, Brno'
          }
        }]
      };

      mapboxgl.accessToken = 'pk.eyJ1IjoibmV6YXBvbWVub3V0IiwiYSI6ImNqa2s1aDNtNTB2dnczdHBoejZrczQ0czkifQ.vjYw3k9dge9iYjwpwqw9Mw';
      var map = new mapboxgl.Map({
        center: [16.6083341, 49.1936384],
        container: 'map',
        // interactive: false,
        style: 'mapbox://styles/mapbox/light-v10',
        zoom: 16
      });

      map.scrollZoom.disable();

      geojson.features.forEach(popup => {
        new mapboxgl.Popup({
          className: 'map__popup',
          closeButton: false,
          closeOnClick: false,
          maxWidth: '17vmax'
        })
          .setLngLat(popup.geometry.coordinates)
          .setHTML(`<div class="popup__wrapper"><div class="popup__background"></div><div class="popup__text"><div>${popup.properties.title}</div><div>${popup.properties.description}</div></div></div>`)
          .addTo(map);
      });

  section.section.section--contact
    .section__title
      h1 kontakt

    .section__contact
      .contact
        .contact__logo
          svg.logo__C(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
            use(href="#svg-logo-C")
          svg.logo__E(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
            use(href="#svg-logo-E")
          svg.logo__D(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
            use(href="#svg-logo-D")

        .contact__text
          .contact__line
            .contact__name= site.contact.name
            .contact__telephone= site.contact.telephone
          .contact__line
            .contact__ic= `IČ: ${site.contact.ic} DIČ: ${site.contact.dic}`
            .contact__email= site.contact.email
          .contact__line
            .contact__orks= site.contact.orks
            .contact__address= `${site.contact.address.street}, ${site.contact.address.psc} ${site.contact.address.city}`

  section.section.section--people
    .section__title
      h2 lidé
    .section__grid
      each person in people
        +person(person)
