extends ../_layouts/base.pug

append variables
  -
    page.template = "calendar"
    page.id = "program"
    page.navRelational = {
      left: false,
      middle: {
        url: '#',
        text: 'další</br> program'
      }
    }

block content
  section.section.section--carousel
    -
      //- carousel needs an image & a caption
      //- might be separated from imported events
      const carousel = events.filter(event => event.image).slice(0, 3).map(event => {
        return {
          image: event.image,
          caption: `${event.name}<br>${event.date}<br>${event.venue}`,
        }
      })
    +carousel(carousel)(class="carousel--standard")

  section.section.section--calendar
    .calendar(data-controller="calendar")
      .calendar__filter
        .filter
          - const venues = [...new Set(events.map(event => event.venue))].sort()

          each venue in venues
            button.filter__item(data-action="click>calendar#toggle")= venue

      .calendar__items
        -
          const dates = [...new Set(events.map(event => event.date))]
          const groupedEvents = dates.map(date => events.filter(event => date === event.date))

        each date in groupedEvents.reverse()
          .calendar__item
            - const dateArr = date[0].date.split('-');
            .calendar__date= `${dateArr[2]}/${dateArr[1]}/${dateArr[0]}`
            .calendar__events
              -
                const sortedEvents = date.sort((a, b) => {
                  const aTime = parseFloat(a.time.split(':').join(''));
                  const bTime = parseFloat(b.time.split(':').join(''));

                  if (aTime < bTime) return -1;
                  if (aTime > bTime) return 1;
                  return 0;
                })
              each event in date.sort((a, b) => parseFloat(a.time) < parseFloat(b.time))
                .calendar__event(class={"calendar__event--ced": event.venue.indexOf('CED') > -1})
                  .calendar__time= event.time
                  .calendar__name= event.name
                  .calendar__venue= event.venue

                  if event.url
                    .calendar__url
                      a.button--inline(href=event.url target="_blank" rel="noopener") vstupenky

                  if event.image || event.text
                    .calendar__about
                      if event.image
                        .calendar__image
                          +image(event.image)
                      if event.text
                        .calendar__text !{event.text}


