$white: #FFFFFF;

$gray-2: #fefefe;
$gray-1: #f8f8f8;
$gray-0: #f3f3f3;
$gray--1: #b1b1b1;
$gray--2: #868686;

$black: #000000;

$blue: #0076FF;
$blue-desaturated: desaturate($blue, 10);
$blue-light: lighten($blue-desaturated, 10);
$blue-dark: darken($blue-desaturated, 10);

$yellow: #FFF612;
$red: #FF0000;
$green: #10D000;

$bg-color: $gray-1;
$text-color: $black;
$action-color: $red;
$hover-color: $text-color;
$navigation-color: $text-color;
