$font-family-system: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans: "Plain", $font-family-system;
// $font-family-serif: 'ff-meta-serif-web-pro', 'Times New Roman', serif;

$base-font-family: $font-family-sans;
$heading-font-family: $base-font-family;
