mixin content(data)
  each item, index in data
    case item.type

      when "text"
        section.section.section--text
          if typeof item.data === 'object'
            .textWithHeading
              .heading
                if index > 0
                  h2 !{item.data.title}
                else
                  h1 !{item.data.title}
              .text !{item.data.text}
          else
            | !{item.data}

      when "gallery"
        if item.data.length > 1
          section.section.section--carousel
            +carousel(item.data)(class="carousel--standard")
        else
          section.section.section--image
            figure.media--image
              +image(item.data[0].image)

              if item.data[0].caption
                figcaption= item.data[0].caption

      when "video"
        section.section.section--video
          figure.media--video
            if item.data.label || item.data.title
              figcaption
                if item.data.label
                  .media__label= item.data.label
                if item.data.title
                  h4.media__title= item.data.title

            .video
              iframe(src="https://www.youtube-nocookie.com/embed/" + item.data.embedId data-vid= item.data.embedId allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0")

      when "file"
        section.section.section--file
          each file in item.data
            -
              const card = {
                data: {
                  extension: file.file.split('.')[1].toUpperCase(),
                  title: file.title,
                  category: file.category,
                  url: file.file,
                },
                options: {
                  variant: "noodle",
                },
              }
            +card(card.data, card.options)
