footer.footer#footer

  .footer__logo
    a.logo(href="/")
      svg.logo__C(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        use(href="#svg-logo-C")
      svg.logo__E(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        use(href="#svg-logo-E")
      svg.logo__D(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        use(href="#svg-logo-D")


  nav.footer__links(aria-labelledby="footer-navigation")
    ul
      li
        a(href="/povinne-udaje/") Povinné údaje
      li
        a(href="/verejne-zakazky/") Veřejné zakázky
      li
        a(href="/volna-mista/") Volná místa
      li
        a(href="/pro-zamestnance/") Pro zaměstnance
      li
        a(href="/gdpr/") GDPR
      li
        a(href="/dokumenty-ke-stazeni/") Dokumenty ke stažení

  .footer__contact
    .footer__address Centrum experimentálního divadla, p.o.<br>Zelný trh 294/9; 602 00 Brno <br>(+420) 542 123 451 / ced@ced-brno.cz
    .footer__platforms
      a(href="https://www.facebook.com/ced.brno/" target="_blank" rel="noopener noreferrer") FB
      span |
      a(href="https://www.instagram.com/ced_brno/" target="_blank" rel="noopener noreferrer") IG

  .footer__support
    p Statutární město Brno podporuje Centrum experimentálního divadla, příspěvkovou organizaci.<br>Činnost CED se uskutečňuje za finanční podpory Ministerstva kultury ČR


    a.button.button--blue(href="/podporuji-nas/") Podporují nás

    .logos
      -
        const imageOptions = {
          sizes: '50vw',
          isLazy: false,
          png: true,
        }
      +image('png/support-logos.png', imageOptions)

  .footer__copyright
    p Text: Miroslav Oščatka / Design: Jan Brož / Code: Jiří Maha & Jaroslav Hensl © 2021

