header.header#header
  //- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  .header__stack.header__logo
    a.logo(href=baseUrl)
      svg.logo__C#svg-logo-C(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        path(d="M30.37 22.17C28.76 28.37 23.87 33 15.93 33 6.09 33 0 25.93 0 16.44S6.27 0 16 0c8.12 0 13 4.53 14.44 11.16h-6.2A8.65 8.65 0 0015.76 5C9.85 5 6.39 9.88 6.39 16.5c0 7 3.4 11.46 9.37 11.46a8.47 8.47 0 008.35-5.79z")
      svg.logo__E#svg-logo-E(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        path(d="M6.28 18.14c.18 5.49 3.88 9.86 9.85 9.86 4.3 0 6.38-2 8-4.72h6C28.42 28.94 23.35 33 15.89 33 6.22 33 .2 26.5.2 16.71S6.52 0 15.89 0C26.09 0 30.8 7.76 30.8 16.17v2zm18.26-4.78C24 8.35 21 4.89 15.77 4.89c-5 0-8.6 3.23-9.25 8.47z")
      svg.logo__D#svg-logo-D(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 33")
        path(d="M4.64.78h6.86c4.49 0 9.37.13 13 2.46C28.53 5.83 31 10.8 31 16.57A15.72 15.72 0 0125.5 29c-3.7 3-7.92 3.25-13.68 3.25H4.64zm5.59 26.6h3.08c7.52 0 11.92-2.72 11.92-10.81C25.23 9.4 21 5.7 13.88 5.7h-3.65z")

  .header__stack.header__navigation
    include navigation.pug
    include navigation-secondary.pug

  .header__stack.header__theaters
    a.theater(href= site.venues[0].url target="_blank" data-controller="theater" data-theater-name-value= site.venues[0].name)

      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 51 51")
        path(d="M48.58 29.4l-1.44-8.07v-.05l-3-7L37 10.31l-4.9-4.2-9.61-2.82h-.12l-7.93 2.05-7.3 5.25-2.8 7.14L2.43 29.6a.06.06 0 000 .06l1.33 5.16-.15 4.82-.55 4.63v.06a.24.24 0 00.12.17L9 47.68a.2.2 0 00.11 0h.07l1.94-.59a.23.23 0 00.17-.22v-3.05l-2.72-5.33.74-10.69 1.91-6.8 8.3-6.42 8.9.19L37 18.42 39.71 26l-.3 6.57L36 36.32a.07.07 0 000 .05L34.79 43a.23.23 0 00.13.25l8.47 4a.22.22 0 00.16 0L48.43 46a.23.23 0 00.15-.21l-.38-8.53.38-7.86m-.82 7.47l-7.58-4.19 7.92-2.95zm-11.51.23L39 41l-3.7 1.66zm3.43-4.17L47 37l-10.38-.7zm.46-6.65l7.57 3.1-7.83 2.92zM9 27.1l-1.2-2.57 2.72-2.87zm-4.41-8.4l2.67 5.74L3 28.94zm2.68-7.28l3.33 9-5.82-2.6zm29.6 5.63l-2.26-5.21 2.06-1zm-2.44-5.63l-1.87-4.3 3.9 3.33zM32 6.88l2 4.73L28.91 14zM28.44 14l-2.1-3.82 5.1-3.27zm-2.32-4.24L22.9 3.9l8.5 2.47zm-.39.25l-5.9 3.78 2.67-9.66zm-6.37 3.7l-4.51-8 7.25-1.86zm-.4.23l-5.75-1.68L14.6 6.2zm-6.2-1.8l-5-1.45 6.34-4.58zm-5.11-1l5 1.45L11 20zm3 9.77l-3 3.17L5 18.37zm-3.14 4l1.27 2.73-5.36 1.53zm5.63-12.18l5.83 1.7-7.56 5.84zM26 10.41l2.12 3.85-7.92-.16zM34.19 12l2.5 5.78L29 14.49zm2.94-1.14l6.27 3.42-6 3.54zm9.36 10l-4.18-1.31L43.89 15zm-3-6.11l-1.62 4.75-4.16-1.3zm-1.29 5.24l4.22 1.32-6 4zM47 37.43l-7.6 3.42-2.84-4.08zm-7.77 4l3.53 5.08-7.22-3.41zm4.17 5.2l-3.73-5.39 7.81-3.52zm-3-20.73l6.32-4.2L48 29zM2.94 29.8l5.55-1.62-4.39 6.11zm1.28 5.52l3.61 3.12-3.74 1zm-.16 4.56l3.6-.88-4 4.66zM9 47.18l-4.88-2.65 6.49-.37zm.57-.07l1.24-2.29v1.91zm1.1-3.42l-6.81.39L8.27 39zm-2.55-5.62l-3.81-3.28 4.47-6.22zm29.39-19.45l4.2 1.31-1.8 5.31zm6.37 28.12l3.9-8.51.32 7.39z")


    a.theater(href= site.venues[1].url target="_blank" data-controller="theater" data-theater-name-value= site.venues[1].name)

      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 51 51")
        path(d="M21.39 37.1l1.58.73c2.64 1.17 5.25 2.37 7.91 3.47a12.34 12.34 0 006.06.94 6 6 0 004.71-3c.33-.54.62-1.1 1-1.68l.63.23a18 18 0 01-2 4.24 16.35 16.35 0 01-4.38 4.51 8 8 0 01-2.9 1.38 6.5 6.5 0 01-2.11-.07 19.18 19.18 0 01-6.31-2.27c-2.75-1.44-5.45-3-8.2-4.41A20.23 20.23 0 0014 39.79a7.43 7.43 0 00-2.25-.28 3.24 3.24 0 00-3.23 3.24 3.55 3.55 0 000 .46 6.3 6.3 0 001 3l.21.34-.6.39A6.39 6.39 0 018 44.62a5.46 5.46 0 012.28-6.34 31.29 31.29 0 015.62-3 .75.75 0 01.42 0c.48.11 1 .25 1.54.4a5.67 5.67 0 01-2.1-3.76 10.27 10.27 0 01.42-4.37l.73.16c-.13.7-.3 1.35-.37 2a6.13 6.13 0 00.53 3.77 5.29 5.29 0 002.66 2.34 5.58 5.58 0 003.69.35 4.14 4.14 0 003.18-2.86 3.29 3.29 0 00-1-3.54c-.87-.78-1.84-1.46-2.78-2.18s-2.2-1.55-3.25-2.39a4 4 0 01-1.05-5.2 18.74 18.74 0 012.63-3.87c.44-.55.9-1.07 1.38-1.65-.63-.23-1.22-.46-1.83-.66-1.39-.45-2.77-.94-4.18-1.32a7.24 7.24 0 00-4.1 0 3.93 3.93 0 00-1.5 6.59 4.41 4.41 0 002.52 1.08c.2 0 .41 0 .64.06V21a5.67 5.67 0 01-2.63-.54A4.4 4.4 0 019 16a7.81 7.81 0 011.6-4.2 26.41 26.41 0 016.09-5.56 3 3 0 012.84-.38 69.77 69.77 0 017 2.65q3.91 1.56 7.88 3a8.45 8.45 0 003.31.52 3.52 3.52 0 003.4-3.64 4.08 4.08 0 00-.12-.66 4 4 0 00-3.31-3.45 19.11 19.11 0 00-4.82-.65h-.71V3h2.23A13.48 13.48 0 0139 4a4.55 4.55 0 012.82 4.83A5.7 5.7 0 0140 12.5a16.83 16.83 0 01-8 4.34 4.31 4.31 0 01-1.6-.06A35.32 35.32 0 0123.89 15a.68.68 0 00-.86.23 3.19 3.19 0 00-.83 3.26 3.23 3.23 0 001.32 1.66c1.95 1.34 3.9 2.67 5.87 4a11.26 11.26 0 012.43 2 4 4 0 01.67 4.26 9.35 9.35 0 01-3 3.85 11.23 11.23 0 01-7.35 2.85h-.73")


    a.theater(href= site.venues[2].url target="_blank" data-controller="theater" data-theater-name-value= site.venues[2].name)

      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 51 51")
        path(d="M27.81 25.12a.94.94 0 00.34-1.29.93.93 0 00-1.28-.34.93.93 0 00-.34 1.28 1 1 0 001.29.35")
        path(d="M28.31 21.91a.94.94 0 00-.4-1.27.94.94 0 00-1.27.4.94.94 0 00.4 1.27.94.94 0 001.27-.4")
        path(d="M29.6 23.66a.93.93 0 00.24-1.31.93.93 0 00-1.3-.24.94.94 0 00-.24 1.31.92.92 0 001.3.24")
        path(d="M29.94 25.81a.94.94 0 00-.23-1.87 1 1 0 00-.82 1 .94.94 0 001.05.82")
        path(d="M26.35 18.74a.94.94 0 10-1.88 0 .94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.47 19.41a.94.94 0 00-.59-1.2.94.94 0 00-1.2.58.94.94 0 00.58 1.2.93.93 0 001.19-.58")
        path(d="M30.25 20.72a.94.94 0 00-.16-1.32 1 1 0 00-1.33.17 1 1 0 00.17 1.32.94.94 0 001.32-.16")
        path(d="M23.38 31.84a.94.94 0 101.86.31.94.94 0 00-1.86-.31")
        path(d="M26.35 16.51a.94.94 0 00-1.88 0 1 1 0 00.94.95 1 1 0 00.94-.95")
        path(d="M28.53 17a.94.94 0 10-1.14.68.94.94 0 001.14-.68")
        path(d="M30.52 18.07a.94.94 0 10-1.65-.91 1 1 0 00.37 1.28.94.94 0 001.28-.37")
        path(d="M32.19 19.57a.94.94 0 10-1.33 0 .94.94 0 001.33 0")
        path(d="M33.43 21.44a.94.94 0 10-1.3-.29.93.93 0 001.29.29")
        path(d="M34.35 25.79a.93.93 0 00.88-1 1 1 0 00-1-.88 1 1 0 00-.88 1 .93.93 0 001 .88")
        path(d="M34 28a.94.94 0 10-.74-1.1A.94.94 0 0034 28")
        path(d="M21.26 33.34a.93.93 0 00.52 1.22A.94.94 0 0023 34a1 1 0 00-.53-1.23.94.94 0 00-1.22.53")
        path(d="M24.11 16.56a1 1 0 00-1.11-.68.94.94 0 101.15.68")
        path(d="M26.35 14.29a.94.94 0 00-.94-.94.94.94 0 00-.94.94.94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.57 14.71a.94.94 0 00-.73-1.11.93.93 0 00-1.11.73.93.93 0 00.73 1.11.94.94 0 001.11-.73")
        path(d="M30.66 15.56a.94.94 0 00-.49-1.23.94.94 0 00-1.24.49.94.94 0 101.73.74")
        path(d="M32.54 16.82a1 1 0 00-.24-1.31.94.94 0 10.24 1.31")
        path(d="M34.12 18.43a.94.94 0 00-1.3-1.37.94.94 0 000 1.33.94.94 0 001.33 0")
        path(d="M35.35 20.33a1 1 0 00.3-1.3.94.94 0 00-1.3-.3A.94.94 0 0034 20a.93.93 0 001.29.3")
        path(d="M36.17 22.43a.94.94 0 00-.66-1.76.94.94 0 00-.51 1.21.94.94 0 001.2.55")
        path(d="M36.55 24.66a.94.94 0 00.78-1.07.94.94 0 10-1.86.28.94.94 0 001.08.79")
        path(d="M36.47 26.92a1 1 0 001-.9.94.94 0 00-.89-1 .94.94 0 00-.1 1.88")
        path(d="M35.94 29.11a1 1 0 001.15-.67.94.94 0 00-.68-1.15.94.94 0 00-.47 1.82")
        path(d="M23.35 36.39a.93.93 0 00.84 1 .94.94 0 10.19-1.87.93.93 0 00-1 .84")
        path(d="M21.18 35.75a.94.94 0 101.18-.62.94.94 0 00-1.18.62")
        path(d="M19.19 34.68a.94.94 0 101.28-.36.93.93 0 00-1.28.36")
        path(d="M24.09 14.33A.93.93 0 0023 13.6a.93.93 0 00-.73 1.11.94.94 0 101.84-.38")
        path(d="M26.35 12.07a1 1 0 00-.94-1 .94.94 0 00-.94 1 1 1 0 00.94.94 1 1 0 00.94-.94")
        path(d="M28.53 12.4a.94.94 0 00-.77-1.08.93.93 0 00-1.08.77.94.94 0 101.85.31")
        path(d="M30.63 13.09a.93.93 0 00-.58-1.19.94.94 0 00-1.2.58.94.94 0 00.58 1.2.94.94 0 001.2-.58")
        path(d="M32.59 14.12a.93.93 0 00-.38-1.27.94.94 0 10-.9 1.65.94.94 0 001.28-.38")
        path(d="M34.35 15.46a.94.94 0 00-.16-1.32.94.94 0 00-1.32.16.94.94 0 00.13 1.32.94.94 0 001.32-.16")
        path(d="M35.87 17.07a.94.94 0 00-1.28-1.39.94.94 0 00-.05 1.32 1 1 0 001.33.06")
        path(d="M37.1 18.9a.94.94 0 10-1.3-.27.94.94 0 001.3.27")
        path(d="M38 20.91a.94.94 0 00.49-1.24 1 1 0 00-1.24-.48.94.94 0 10.75 1.72")
        path(d="M38.58 23.05a.94.94 0 10-1.14-.68.94.94 0 001.14.68")
        path(d="M38.79 25.25a.94.94 0 00.86-1 1 1 0 00-1-.86 1 1 0 00-.86 1 1 1 0 001 .86")
        path(d="M38.63 27.45a.94.94 0 001-.85.94.94 0 00-.86-1 1 1 0 00-1 .86.93.93 0 00.86 1")
        path(d="M30.93 37.6a.94.94 0 001.28.38.93.93 0 00.38-1.27.94.94 0 00-1.66.9")
        path(d="M26.68 38.74a.94.94 0 10.77-1.09.93.93 0 00-.77 1.09")
        path(d="M18.23 36.71a.94.94 0 101.27-.38.93.93 0 00-1.27.38")
        path(d="M16.47 35.37a.94.94 0 101.32-.16.94.94 0 00-1.32.16")
        path(d="M15 33.76a.94.94 0 001.27 1.39.94.94 0 00.06-1.33 1 1 0 00-1.33-.06")
        path(d="M13.72 31.93a.94.94 0 101 1.58A1 1 0 0015 32.2a1 1 0 00-1.3-.27")
        path(d="M12.81 29.91a.94.94 0 101.24.49.94.94 0 00-1.24-.49")
        path(d="M12.24 27.78a.94.94 0 101.14.68.93.93 0 00-1.14-.68")
        path(d="M12 25.58a.94.94 0 101 .86.94.94 0 00-1-.86")
        path(d="M22 12.48a.93.93 0 00-1.19-.58.94.94 0 00.62 1.78.94.94 0 00.58-1.2")
        path(d="M24.14 12.09a.94.94 0 10-.77 1.08.94.94 0 00.77-1.08")
        path(d="M26.35 9.84a.94.94 0 00-.94-.94.94.94 0 00-.94.94.94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.56 10.13a.94.94 0 00-.8-1.06.93.93 0 00-1.07.8.94.94 0 001.87.26")
        path(d="M30.7 10.74a.94.94 0 00-.64-1.17.94.94 0 00-1.17.64.94.94 0 00.64 1.16.94.94 0 001.17-.63")
        path(d="M32.73 11.64a.94.94 0 00-.46-1.25.94.94 0 00-1.25.46.93.93 0 00.47 1.24.93.93 0 001.24-.46")
        path(d="M34.62 12.82a.94.94 0 10-1.3.28.95.95 0 001.3-.28")
        path(d="M36.32 14.26a.94.94 0 00-.1-1.33.93.93 0 00-1.32.1.94.94 0 101.42 1.23")
        path(d="M37.79 15.93a.94.94 0 00.1-1.33.94.94 0 00-1.42 1.23.94.94 0 001.32.1")
        path(d="M39 17.79a.94.94 0 10-1.3-.29.94.94 0 001.3.29")
        path(d="M40 19.8a.94.94 0 00.46-1.25.94.94 0 00-1.25-.46.94.94 0 00.79 1.71")
        path(d="M40.62 21.93a.94.94 0 00.63-1.17.94.94 0 10-1.8.53.94.94 0 001.17.64")
        path(d="M41 24.13a.94.94 0 00.8-1.06 1 1 0 00-1.07-.8.94.94 0 10.27 1.86")
        path(d="M41 26.36a.94.94 0 00.94-.94 1 1 0 00-.94-.94.95.95 0 000 1.89")
        path(d="M40.69 28.56a.93.93 0 001.06-.8.94.94 0 00-.75-1.06.93.93 0 00-1.07.8.94.94 0 00.8 1.06")
        path(d="M31 40a1 1 0 001.25.47.94.94 0 00.46-1.25.94.94 0 00-1.24-.47A1 1 0 0031 40")
        path(d="M22.26 40.7a.94.94 0 00.8 1.06.94.94 0 10.27-1.86.93.93 0 00-1.07.8")
        path(d="M18.08 39.19a.94.94 0 101.25-.47.95.95 0 00-1.25.47")
        path(d="M16.2 38a.94.94 0 101.58 1 1 1 0 00-.28-1.3.94.94 0 00-1.3.29")
        path(d="M14.5 36.57a.94.94 0 101.33-.1.95.95 0 00-1.33.1")
        path(d="M13 34.9a1 1 0 00-.09 1.33.94.94 0 10.09-1.33")
        path(d="M11.8 33a.94.94 0 101.3.29.94.94 0 00-1.3-.29")
        path(d="M10.85 31a.94.94 0 00.78 1.71 1 1 0 00.47-1.25.94.94 0 00-1.25-.46")
        path(d="M10.2 28.9a1 1 0 00-.64 1.17.94.94 0 10.64-1.17")
        path(d="M9.86 26.7a.94.94 0 101.06.8.94.94 0 00-1.06-.8")
        path(d="M9.83 24.47a.95.95 0 000 1.89 1 1 0 00.94-.95.94.94 0 00-.94-.94")
        path(d="M10.13 22.27a.94.94 0 00-1.07.79.94.94 0 00.8 1.06 1 1 0 001.07-.8.94.94 0 00-.8-1.06")
        path(d="M19.79 10.86a.93.93 0 00-1.24-.47 1 1 0 00-.47 1.25.94.94 0 001.25.46.93.93 0 00.46-1.24")
        path(d="M21.92 10.21a.93.93 0 00-1.16-.64.93.93 0 00-.64 1.16.93.93 0 001.16.63.93.93 0 00.63-1.16")
        path(d="M24.12 9.87a.94.94 0 00-1.06-.81.92.92 0 00-.8 1.06.94.94 0 001.06.8.93.93 0 00.8-1.06")
        path(d="M26.35 7.62a1 1 0 00-.94-1 .94.94 0 00-.94 1 1 1 0 00.94.94 1 1 0 00.94-.94")
        path(d="M28.57 7.87a.94.94 0 00-.81-1 1 1 0 00-1.06.82 1 1 0 00.82 1 .93.93 0 001.05-.82")
        path(d="M30.75 8.41a.94.94 0 10-1.15.68.95.95 0 001.15-.68")
        path(d="M32.84 9.21a.94.94 0 00-1.75-.69.93.93 0 00.52 1.22 1 1 0 001.23-.53")
        path(d="M34.81 10.27A1 1 0 0034.44 9a1 1 0 00-1.28.37.94.94 0 001.65.91")
        path(d="M36.63 11.57a1 1 0 00-.21-1.32.94.94 0 10.21 1.32")
        path(d="M38.28 13.08a.94.94 0 10-1.33 0 .95.95 0 001.33 0")
        path(d="M39.72 14.79a.94.94 0 00.13-1.32 1 1 0 00-1.33-.13 1 1 0 00-.12 1.33.93.93 0 001.32.12")
        path(d="M40.94 16.67a.93.93 0 00.29-1.29.94.94 0 00-1.59 1 .94.94 0 001.3.29")
        path(d="M41.91 18.69a.94.94 0 10-.8-1.7.94.94 0 10.8 1.7")
        path(d="M42.63 20.81a.94.94 0 10-1.19-.6.94.94 0 001.19.6")
        path(d="M43.07 23a.94.94 0 10-.35-1.84.94.94 0 10.35 1.84")
        path(d="M43.23 25.24a1 1 0 00.88-1 .93.93 0 00-1-.88.94.94 0 00-.88 1 1 1 0 001 .88")
        path(d="M43.11 27.47a.94.94 0 001-.88.93.93 0 00-.88-1 1 1 0 00-1 .88.94.94 0 00.88 1")
        path(d="M42.72 29.67a.94.94 0 10-.72-1.09.93.93 0 00.75 1.09")
        path(d="M42.05 31.81a.94.94 0 001.18-.6.94.94 0 10-1.79-.58.94.94 0 00.61 1.18")
        path(d="M41.11 33.84a1 1 0 001.26-.45 1 1 0 00-.46-1.25.94.94 0 00-.8 1.7")
        path(d="M35.11 40.37a.94.94 0 001.31.21.93.93 0 00.21-1.31.94.94 0 10-1.52 1.11")
        path(d="M33.16 41.46a.93.93 0 001.27.38 1 1 0 00.37-1.28.94.94 0 00-1.28-.37.93.93 0 00-.37 1.27")
        path(d="M31.09 42.31a.94.94 0 10.53-1.22.93.93 0 00-.52 1.22")
        path(d="M28.92 42.89a.94.94 0 101.83-.47.94.94 0 00-1.83.47")
        path(d="M22.24 43a.94.94 0 101.87.24.94.94 0 00-.81-1 1 1 0 00-1.06.81")
        path(d="M18 41.62a.94.94 0 101.22-.53.94.94 0 00-1.22.53")
        path(d="M16 40.56a.94.94 0 101.28-.37.94.94 0 00-1.28.37")
        path(d="M14.18 39.26a.95.95 0 101.32-.21 1 1 0 00-1.32.21")
        path(d="M12.54 37.74A.94.94 0 1013.91 39a.94.94 0 000-1.33 1 1 0 00-1.33 0")
        path(d="M11.09 36a1 1 0 00-.09 1.36.93.93 0 001.32.12.94.94 0 00.13-1.32 1 1 0 00-1.36-.16")
        path(d="M9.88 34.16a.94.94 0 001 1.59 1 1 0 00.3-1.3.94.94 0 00-1.3-.29")
        path(d="M8.9 32.14a.94.94 0 101.25.45.94.94 0 00-1.25-.45")
        path(d="M8.19 30a.94.94 0 101.19.61A1 1 0 008.19 30")
        path(d="M7.75 27.82a.95.95 0 101.1.76 1 1 0 00-1.1-.75")
        path(d="M7.59 25.59a1 1 0 00-.9 1 .93.93 0 001 .89.94.94 0 10-.08-1.88")
        path(d="M7.7 23.36a.94.94 0 00-1 .88 1 1 0 00.88 1 .94.94 0 001-.88.93.93 0 00-.87-1")
        path(d="M8.1 21.15a1 1 0 00-1.1.75.94.94 0 00.75 1.1.94.94 0 10.35-1.85")
        path(d="M17.66 9.36A1 1 0 0016.38 9a.94.94 0 101.28.37")
        path(d="M19.73 8.52a.94.94 0 10-.53 1.22.94.94 0 00.53-1.22")
        path(d="M21.89 7.94a.94.94 0 10-.67 1.15 1 1 0 00.67-1.15")
        path(d="M24.11 7.64a.94.94 0 00-1.05-.82 1 1 0 00-.82 1 1 1 0 001.06.82.94.94 0 00.81-1")
        path(d="M26.35 5.39a.94.94 0 00-.94-.94.94.94 0 00-.94.94.94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.55 5.62a.94.94 0 00-.84-1 .93.93 0 00-1 .83.94.94 0 00.83 1 1 1 0 001-.83")
        path(d="M30.71 6.08A.94.94 0 0030 5a.94.94 0 10-.41 1.83.94.94 0 001.13-.71")
        path(d="M32.8 6.78a.94.94 0 00-.58-1.2.94.94 0 00-1.2.58.92.92 0 00.57 1.19.94.94 0 001.2-.58")
        path(d="M34.81 7.71a1 1 0 00-.45-1.26.95.95 0 00-.81 1.71 1 1 0 001.26-.45")
        path(d="M36.7 8.85a1 1 0 00-.31-1.3.95.95 0 00-1 1.61 1 1 0 001.3-.31")
        path(d="M38.45 10.19a.94.94 0 00-.16-1.32.94.94 0 00-1.15 1.49 1 1 0 001.32-.17")
        path(d="M40.05 11.72a.94.94 0 000-1.33.94.94 0 00-1.33 0 .92.92 0 000 1.32.94.94 0 001.33 0")
        path(d="M41.46 13.41a.94.94 0 00.13-1.32.94.94 0 00-1.32-.09.94.94 0 00-.12 1.32.94.94 0 001.32.13")
        path(d="M42.69 15.25a.94.94 0 10-1-1.57.94.94 0 001 1.57")
        path(d="M43.7 17.21a.93.93 0 00.41-1.21.94.94 0 00-1.26-.42 1 1 0 00-.42 1.27.94.94 0 001.27.41")
        path(d="M44.49 19.28a.94.94 0 00-.66-1.77.94.94 0 00.66 1.77")
        path(d="M45.05 21.41a.94.94 0 00-.46-1.82.94.94 0 00.46 1.82")
        path(d="M45.37 23.6a.94.94 0 00-.26-1.87 1 1 0 00-.8 1.07.94.94 0 001.06.8")
        path(d="M45.45 25.8a.94.94 0 00.92-1 1 1 0 00-1-.92 1 1 0 00-.92 1 .94.94 0 001 .91")
        path(d="M45.29 28a1 1 0 001-.86.94.94 0 00-.86-1 .93.93 0 00-1 .86.94.94 0 00.85 1")
        path(d="M44.88 30.18a.94.94 0 10-.74-1.1.93.93 0 00.74 1.1")
        path(d="M44.24 32.29a.94.94 0 00.56-1.8.94.94 0 00-.57 1.8")
        path(d="M43.37 34.32a1 1 0 001.24-.48.94.94 0 00-.49-1.24.94.94 0 00-1.24.48.94.94 0 00.49 1.24")
        path(d="M41 38a.93.93 0 001.31-.2.93.93 0 00-.2-1.31 1 1 0 00-1.31.2A1 1 0 0041 38")
        path(d="M37.85 41.13a.94.94 0 001.33.09.93.93 0 00.09-1.32 1 1 0 00-1.33-.1.93.93 0 00-.09 1.32")
        path(d="M36 42.41a.94.94 0 001.31.23.92.92 0 00.24-1.3.94.94 0 00-1.31-.23.94.94 0 00-.24 1.3")
        path(d="M34.11 43.47a.94.94 0 001.28.38.94.94 0 00.38-1.27 1 1 0 00-1.28-.37.93.93 0 00-.38 1.27")
        path(d="M32.07 44.32a.94.94 0 001.75-.71 1 1 0 00-1.23-.52 1 1 0 00-.52 1.23")
        path(d="M30 44.94a.94.94 0 10.65-1.16.94.94 0 00-.65 1.16")
        path(d="M27.78 45.32a.93.93 0 001.08.77.94.94 0 10-.31-1.85 1 1 0 00-.78 1.08")
        path(d="M25.57 45.46a.94.94 0 10.89-1 .94.94 0 00-.89 1")
        path(d="M23.37 45.36a.94.94 0 001.87.13.94.94 0 00-1.87-.11")
        path(d="M19.05 44.43a.94.94 0 101.17-.65.94.94 0 00-1.17.65")
        path(d="M17 43.61a.94.94 0 101.23-.52.95.95 0 00-1.23.52")
        path(d="M15.05 42.58a.94.94 0 101.28-.38.94.94 0 00-1.28.38")
        path(d="M13.22 41.33a.94.94 0 101.31-.23.94.94 0 00-1.31.23")
        path(d="M11.55 39.9a.93.93 0 00.09 1.32.94.94 0 10-.09-1.32")
        path(d="M10 38.28a.94.94 0 001.27 1.39.94.94 0 10-1.27-1.39")
        path(d="M8.72 36.51a.94.94 0 00-.2 1.32.93.93 0 001.31.2.94.94 0 00-1.11-1.52")
        path(d="M7.6 34.61a.94.94 0 101.28.39.93.93 0 00-1.28-.34")
        path(d="M6.69 32.6a.94.94 0 101.24.48.94.94 0 00-1.24-.48")
        path(d="M6 30.49a.94.94 0 10.56 1.8 1 1 0 00.62-1.18A1 1 0 006 30.49")
        path(d="M5.58 28.33a.94.94 0 10.35 1.85 1 1 0 00.75-1.1.94.94 0 00-1.1-.74")
        path(d="M5.38 26.13a.94.94 0 101 .86.95.95 0 00-1-.86")
        path(d="M5.42 23.92a1 1 0 00-1 .92.94.94 0 00.91 1 .94.94 0 000-1.88")
        path(d="M5.7 21.73a.94.94 0 10-.26 1.86.94.94 0 00.26-1.86")
        path(d="M6.23 19.59a.94.94 0 10.68 1.14.94.94 0 00-.68-1.14")
        path(d="M7 17.51a1 1 0 00-1.22.55.94.94 0 00.55 1.21.94.94 0 00.67-1.76")
        path(d="M13.85 9a.94.94 0 00-1.32-.16.94.94 0 001.16 1.49A1 1 0 0013.85 9")
        path(d="M15.72 7.86a.94.94 0 00-1.29-.31.95.95 0 001 1.61.94.94 0 00.3-1.3")
        path(d="M17.71 6.9a.94.94 0 00-1.25-.45.94.94 0 00.8 1.71 1 1 0 00.45-1.26")
        path(d="M19.8 6.17a1 1 0 00-1.2-.59.94.94 0 00.61 1.78.94.94 0 00.58-1.2")
        path(d="M22 5.67A.94.94 0 0020.82 5a.94.94 0 00-.71 1.12.94.94 0 001.89-.45")
        path(d="M24.14 5.41a.94.94 0 00-1-.83.93.93 0 00-.83 1 .94.94 0 001 .83.94.94 0 00.83-1")
        path(d="M26.35 3.17a1 1 0 00-.94-.95 1 1 0 00-.94.95.94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.56 3.37a.94.94 0 10-1.87-.19.94.94 0 001.87.19")
        path(d="M30.74 3.79A1 1 0 0030 2.68a1 1 0 00-1.11.74.94.94 0 00.74 1.11.94.94 0 001.11-.74")
        path(d="M32.87 4.43a1 1 0 00-.63-1.18.94.94 0 00-1.17.62.93.93 0 00.62 1.17.94.94 0 001.18-.62")
        path(d="M34.92 5.28a.94.94 0 10-1.73-.74.94.94 0 101.73.74")
        path(d="M36.88 6.32a.94.94 0 10-1.28.38.94.94 0 001.28-.38")
        path(d="M38.72 7.56a1 1 0 00-.25-1.31.94.94 0 10.25 1.31")
        path(d="M40.43 9a1 1 0 00-.12-1.33.94.94 0 00-1.31.1.94.94 0 00.11 1.32A1 1 0 0040.43 9")
        path(d="M42 10.55a.94.94 0 000-1.33.94.94 0 00-1.33 0 .94.94 0 000 1.33.94.94 0 001.33 0")
        path(d="M43.39 12.28a1 1 0 00.15-1.28.94.94 0 00-1.32-.14.94.94 0 001.17 1.47")
        path(d="M44.61 14.13a.94.94 0 10-1.3-.28.93.93 0 001.3.28")
        path(d="M45.64 16.1a.93.93 0 00.4-1.26.93.93 0 00-1.26-.4.94.94 0 10.86 1.67")
        path(d="M46.46 18.16a.93.93 0 00.54-1.22.94.94 0 00-1.22-.53.94.94 0 00.69 1.75")
        path(d="M47.08 20.29a.94.94 0 10-1.16-.65.94.94 0 001.16.65")
        path(d="M47.48 22.48a.94.94 0 10-.32-1.86.94.94 0 00-.77 1.09.94.94 0 001.09.77")
        path(d="M47.66 24.69a.94.94 0 00.87-1 .94.94 0 00-1-.87.94.94 0 00.14 1.88")
        path(d="M47.63 26.91a.94.94 0 001-.91.94.94 0 00-.92-1 .92.92 0 00-1 .91.94.94 0 00.91 1")
        path(d="M47.37 29.12a1 1 0 001.05-.82.94.94 0 00-.82-1.05.94.94 0 00-1.05.81 1 1 0 00.82 1.06")
        path(d="M46.89 31.28a.94.94 0 10-.71-1.12.94.94 0 00.71 1.12")
        path(d="M46.2 33.39a.94.94 0 001.19-.59.94.94 0 00-.59-1.19.94.94 0 00-1.19.59.94.94 0 00.59 1.19")
        path(d="M45.3 35.42a.94.94 0 001.25-.42.94.94 0 00-.48-1.24.93.93 0 00-1.24.47.94.94 0 00.47 1.24")
        path(d="M44.21 37.35a.93.93 0 001.28-.35.94.94 0 10-1.28.34")
        path(d="M42.92 39.17a1 1 0 001.32-.17.93.93 0 00-.24-1.36.93.93 0 00-1.31.21 1 1 0 00.21 1.32")
        path(d="M41.47 40.84a.94.94 0 10-.09-1.33.94.94 0 00.09 1.33")
        path(d="M39.85 42.36a.94.94 0 100-1.33.94.94 0 000 1.33")
        path(d="M38.09 43.72a.94.94 0 10.18-1.32 1 1 0 00-.18 1.32")
        path(d="M36.21 44.89a.94.94 0 101.6-1 .92.92 0 00-1.29-.31.93.93 0 00-.31 1.29")
        path(d="M34.21 45.87a1 1 0 001.26.44.94.94 0 00.44-1.26.94.94 0 00-1.25-.44 1 1 0 00-.45 1.26")
        path(d="M32.13 46.64a1 1 0 001.21.57.94.94 0 10-1.21-.57")
        path(d="M30 47.21a.94.94 0 001.14.68 1 1 0 00.68-1.15.94.94 0 00-1.14-.68.93.93 0 00-.68 1.14")
        path(d="M27.79 47.55a1 1 0 001.07.8.94.94 0 00.79-1.07.94.94 0 00-1.06-.79 1 1 0 00-.79 1.07")
        path(d="M25.58 47.68a.94.94 0 001 .9.94.94 0 00.9-1 1 1 0 00-1-.9.94.94 0 00-.89 1")
        path(d="M23.36 47.59a.94.94 0 00.89 1 1 1 0 001-.89.94.94 0 00-.89-1 .93.93 0 00-1 .89")
        path(d="M21.16 47.27a.94.94 0 101.86.28.94.94 0 00-.79-1.07 1 1 0 00-1.07.79")
        path(d="M19 46.74a.94.94 0 101.14-.68.94.94 0 00-1.14.68")
        path(d="M16.91 46a.94.94 0 00.57 1.2.94.94 0 10.64-1.76.94.94 0 00-1.21.56")
        path(d="M14.91 45.05a.94.94 0 101.25-.44.94.94 0 00-1.25.44")
        path(d="M13 43.91a.94.94 0 101.3-.31.93.93 0 00-1.3.31")
        path(d="M11.22 42.58a.94.94 0 001.5 1.14.93.93 0 00-.18-1.32.94.94 0 00-1.32.18")
        path(d="M9.59 41.08a.93.93 0 00.05 1.33.94.94 0 10-.05-1.33")
        path(d="M8.1 39.43a.94.94 0 101.33.08 1 1 0 00-1.33-.08")
        path(d="M6.79 37.64a.94.94 0 001.1 1.53 1 1 0 00.22-1.32.93.93 0 00-1.31-.21")
        path(d="M5.67 35.72A.94.94 0 005.33 37a.93.93 0 001.28.34.94.94 0 10-.94-1.63")
        path(d="M4.74 33.71a.94.94 0 101.26.47.94.94 0 00-1.25-.47")
        path(d="M4 31.61a.94.94 0 101.19.59.94.94 0 00-1.19-.59")
        path(d="M3.51 29.45a.94.94 0 101.12.71.93.93 0 00-1.12-.7")
        path(d="M3.21 27.25a.93.93 0 00-.81 1.05.94.94 0 10.81-1.05")
        path(d="M3.14 25a.94.94 0 00-.92 1 .95.95 0 001.89 0 1 1 0 00-1-.92")
        path(d="M3.29 22.81a.94.94 0 00-1 .87.94.94 0 101.88.14.94.94 0 00-.87-1")
        path(d="M3.66 20.62a.94.94 0 00-.33 1.86.94.94 0 00.33-1.86")
        path(d="M4.25 18.48a1 1 0 00-1.17.65.94.94 0 00.65 1.16.94.94 0 001.16-.65.94.94 0 00-.65-1.16")
        path(d="M5 16.41a.94.94 0 00-1.22.53.94.94 0 00.53 1.22.94.94 0 001.22-.53.94.94 0 00-.53-1.22")
        path(d="M6 14.43a.94.94 0 00-1.27.4.94.94 0 101.27-.4")
        path(d="M11.83 7.76a1 1 0 00-1.33-.11.93.93 0 00-.11 1.35.93.93 0 001.32.12 1 1 0 00.12-1.33")
        path(d="M13.65 6.5a.93.93 0 00-1.3-.25.94.94 0 00-.25 1.31.94.94 0 001.3.25 1 1 0 00.24-1.31")
        path(d="M15.59 5.42a.94.94 0 10-.37 1.28 1 1 0 00.37-1.28")
        path(d="M17.63 4.55a.94.94 0 10-.5 1.23.93.93 0 00.5-1.23")
        path(d="M19.75 3.88a1 1 0 00-1.18-.63.94.94 0 00-.57 1.18.93.93 0 001.18.62.94.94 0 00.62-1.17")
        path(d="M21.92 3.42a.94.94 0 00-1.11-.74.94.94 0 00-.73 1.11.94.94 0 001.11.74.94.94 0 00.73-1.11")
        path(d="M24.13 3.18a.94.94 0 10-.85 1 .94.94 0 00.84-1")
        path(d="M26.35.94a.94.94 0 00-1.88 0 .94.94 0 00.94.94.94.94 0 00.94-.94")
        path(d="M28.57 1.13a.93.93 0 00-.85-1 .93.93 0 00-1 .85.94.94 0 001.87.17")
        path(d="M30.77 1.52A.94.94 0 0030 .42a.94.94 0 00-1.1.75 1 1 0 00.75 1.1.94.94 0 001.1-.75")
        path(d="M32.92 2.1a.94.94 0 00-1.81-.51.93.93 0 00.65 1.16.93.93 0 001.16-.64")
        path(d="M35 2.88a.94.94 0 10-1.22.54.94.94 0 001.22-.54")
        path(d="M37 3.85a1 1 0 00-.43-1.26.94.94 0 00-1.25.41 1 1 0 00.44 1.26.93.93 0 001.24-.41")
        path(d="M38.93 5a.94.94 0 00-1.61-1 .94.94 0 00.32 1.3.93.93 0 001.29-.3")
        path(d="M40.73 6.31a.94.94 0 10-1.52-1.12.93.93 0 00.2 1.31 1 1 0 001.32-.2")
        path(d="M42.4 7.78a.94.94 0 00-.07-1.33.94.94 0 00-1.26 1.4.94.94 0 001.33-.07")
        path(d="M43.94 9.4A.94.94 0 0042.65 8a.94.94 0 001.29 1.4")
        path(d="M45.32 11.15A.94.94 0 1044 11a.94.94 0 001.32.17")
        path(d="M46.53 13a.94.94 0 00.29-1.3.94.94 0 00-1.3-.29.94.94 0 001 1.59")
        path(d="M47.57 15a.94.94 0 10-1.27-.4.94.94 0 001.27.4")
        path(d="M48.43 17.05a.94.94 0 00.51-1.23.93.93 0 00-1.22-.51.92.92 0 00-.52 1.22 1 1 0 001.23.52")
        path(d="M49.09 19.18a.94.94 0 10-1.17-.63.94.94 0 001.17.63")
        path(d="M49.56 21.36a1 1 0 00.73-1.12.94.94 0 00-1.11-.73 1 1 0 00-.73 1.12 1 1 0 001.11.73")
        path(d="M49.83 23.57a.94.94 0 00.83-1 .94.94 0 00-1-.83.94.94 0 00-.83 1 .94.94 0 001 .83")
        path(d="M49.9 25.8a.94.94 0 00.92-1 1 1 0 00-1-.92 1 1 0 00-.92 1 1 1 0 001 .92")
        path(d="M49.76 28a.93.93 0 001-.87.94.94 0 00-1.87-.13.93.93 0 00.87 1")
        path(d="M49.42 30.23a.94.94 0 10-.78-1.08 1 1 0 00.78 1.08")
        path(d="M48.89 32.39a.93.93 0 001.11-.68.93.93 0 00-.68-1.14.93.93 0 00-1.14.67.93.93 0 00.68 1.14")
        path(d="M48.15 34.5a1 1 0 001.2-.57.94.94 0 10-1.77-.63.94.94 0 00.57 1.2")
        path(d="M47.23 36.53a.94.94 0 10-.46-1.25 1 1 0 00.46 1.25")
        path(d="M46.13 38.47a1 1 0 001.29-.35.94.94 0 00-.34-1.28.93.93 0 00-1.28.34.94.94 0 00.34 1.29")
        path(d="M44.86 40.3a.94.94 0 001.31-.23.94.94 0 00-.17-1.31.94.94 0 00-1.31.22 1 1 0 00.23 1.32")
        path(d="M43.43 42a.94.94 0 001.32-.1 1 1 0 00-.1-1.33.94.94 0 00-1.33.11.93.93 0 00.1 1.32")
        path(d="M41.84 43.57a.94.94 0 001.33 0 .94.94 0 000-1.33.94.94 0 00-1.33 0 .94.94 0 000 1.33")
        path(d="M40.12 45a.94.94 0 001.33.14.94.94 0 00.13-1.32.94.94 0 00-1.46 1.18")
        path(d="M38.28 46.25a1 1 0 001.31.26 1 1 0 00.25-1.31.94.94 0 00-1.3-.26 1 1 0 00-.26 1.31")
        path(d="M36.33 47.33a.94.94 0 101.65-.9.93.93 0 00-1.27-.37.93.93 0 00-.38 1.27")
        path(d="M34.3 48.24a.94.94 0 001.7-.75.94.94 0 10-1.72.75")
        path(d="M32.18 49a1 1 0 001.19.6.94.94 0 10-1.19-.6")
        path(d="M30 49.47a.94.94 0 10.71-1.13 1 1 0 00-.7 1.13")
        path(d="M27.81 49.79a.94.94 0 10.8-1.06.94.94 0 00-.8 1.06")
        path(d="M25.58 49.9a1 1 0 001 .91.93.93 0 00.9-1 .94.94 0 00-1-.9.94.94 0 00-.9 1")
        path(d="M23.35 49.82a.94.94 0 001.88.08.93.93 0 00-.89-1 1 1 0 00-1 .9")
        path(d="M21.14 49.53a.92.92 0 101.06-.8 1 1 0 00-1.06.8")
        path(d="M19 49a.94.94 0 101.13-.7A1 1 0 0019 49")
        path(d="M16.85 48.36a.94.94 0 101.18-.6.93.93 0 00-1.18.6")
        path(d="M14.79 47.49a.94.94 0 001.73.75A.94.94 0 0016 47a.94.94 0 00-1.24.49")
        path(d="M12.83 46.43a.94.94 0 101.28-.37.94.94 0 00-1.28.37")
        path(d="M11 45.2a1 1 0 00.26 1.31.94.94 0 001.3-.26.94.94 0 10-1.56-1")
        path(d="M9.23 43.8a.94.94 0 101.33-.13 1 1 0 00-1.33.13")
        path(d="M7.63 42.26a.94.94 0 101.33 0 .94.94 0 00-1.33 0")
        path(d="M6.17 40.57a.94.94 0 101.33.11.94.94 0 00-1.33-.11")
        path(d="M4.87 38.76a.94.94 0 00-.23 1.31A.94.94 0 106.18 39a.94.94 0 00-1.31-.22")
        path(d="M3.74 36.84a.94.94 0 00.94 1.63.95.95 0 00-.94-1.64")
        path(d="M2.79 34.82a.94.94 0 101.21.46.94.94 0 00-1.25-.46")
        path(d="M2 32.72a.94.94 0 101.2.58.94.94 0 00-1.2-.58")
        path(d="M1.46 30.57a.94.94 0 101.15.68.94.94 0 00-1.15-.67")
        path(d="M1.09 28.37a.93.93 0 00-.77 1.08.94.94 0 10.78-1.08")
        path(d="M.93 26.15a.94.94 0 101 .87.94.94 0 00-1-.87")
        path(d="M1 23.92a.92.92 0 00-1 .91.94.94 0 00.92 1 .94.94 0 001-.92.94.94 0 00-.92-1")
        path(d="M1.2 21.7a.94.94 0 00-.2 1.87.94.94 0 001-.83.94.94 0 00-.83-1")
        path(d="M1.64 19.51a.95.95 0 10-.39 1.85 1 1 0 001.12-.73 1 1 0 00-.73-1.12")
        path(d="M2.27 17.38A.92.92 0 001.1 18a.94.94 0 101.8.55.94.94 0 00-.63-1.17")
        path(d="M3.1 15.31a.94.94 0 00-1.23.51 1 1 0 00.52 1.23 1 1 0 001.23-.52.94.94 0 00-.52-1.22")
        path(d="M4.11 13.32a.94.94 0 10.4 1.27.94.94 0 00-.4-1.27")
        path(d="M5.3 11.43a.94.94 0 00-1.3.29.94.94 0 101.3-.29")
        path(d="M6.65 9.66A.94.94 0 106.82 11a.94.94 0 00-.17-1.32")
        path(d="M9.82 6.53a.94.94 0 00-1.33-.08.94.94 0 00-.07 1.33 1 1 0 001.33.08.94.94 0 00.07-1.32")
        path(d="M11.6 5.19A1 1 0 0010.28 5a.93.93 0 00-.2 1.31.94.94 0 001.32.2.93.93 0 00.2-1.31")
        path(d="M13.5 4a1 1 0 00-1.3-.31.94.94 0 00-.31 1.31.93.93 0 001.29.32A.94.94 0 0013.5 4")
        path(d="M15.49 3a.94.94 0 00-1.26-.43 1 1 0 00-.43 1.26 1 1 0 001.26.43.94.94 0 00.43-1.26")
        path(d="M17.57 2.21a.94.94 0 00-1.21-.54.94.94 0 00-.54 1.21.94.94 0 101.76-.67")
        path(d="M19.71 1.59a.94.94 0 10-1.81.51.94.94 0 101.81-.51")
        path(d="M21.9 1.17a.93.93 0 00-1.1-.75.94.94 0 00-.75 1.1.94.94 0 001.09.76.93.93 0 00.75-1.09")
        path(d="M24.12 1a1 1 0 00-1-.86.94.94 0 00.15 1.86.94.94 0 00.85-1")

    //- each theater in site.venues
    //-   .theater
    //-     img(src=`assets/img/svg/theater-${slugify(theater.name, {lower: true})}.svg` alt= theater.name)
