//- Twitter Card Meta Tags
//- meta(name="twitter:creator" content="@individual_account")
//- meta(name="twitter:url" content= metadata.url)
//- meta(name="twitter:title" content= metadata.name)
//- meta(name="twitter:description" content= metadata.description)
//- meta(name="twitter:image" content= metadata.logo)
//- meta(name="twitter:image:alt" content= metadata.description)
meta(name="twitter:card" content="summary_large_image")
//- Include your twitter account name here as the value for the content attribute. Be sure to include the @ sign with the name
//- meta(name="twitter:site" content=`@${site.social.twitter.url.replace('https://twitter.com/', '')}`)
//- Because twitter will fallback to the og data it will automatically pick up the title image and description from the below facebook open graph tags. Hence, we do not include them above to avoid duplication

//- Facebook Open Graph Meta Tags
//- https://developers.facebook.com/docs/sharing/webmasters
//- meta(property="fb:app_id" content= site.social.facebook.id)
//- https://ogp.me/
meta(property="og:url" content= page.meta ? page.meta.url : metadata.url)
meta(property="og:type" content="website")
meta(property="og:title" content= page.meta ? page.meta.title : metadata.title)
meta(property="og:image" content= page.meta ? page.meta.image : metadata.logo)
meta(property="og:image:alt" content= page.meta ? page.meta.description : metadata.description)
meta(property="og:description" content= page.meta ? page.meta.description : metadata.description)
meta(property="og:site_name" content= metadata.title)
//- og:locale - The locale these tags are marked up in. Of the format language_TERRITORY. Default is en_US.
meta(property="og:locale" content="en_US")
//- meta(property="article:author" content=")
