a#mobile-menu-toggle(href="#" data-state="closed")
  svg.icon.icon--open(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 54 54")
    line(x1="14.16" x2="39.84" y1="18.46" y2="18.46")
    line(x1="14.16" x2="39.84" y1="35.54" y2="35.54")
    line(x1="14.16" x2="39.84" y1="27.14" y2="27.14")

  svg.icon.icon--close(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 54 54")
    line(x1="15.1" x2="38.9" y1="14.68" y2="39.57")
    line(x1="15.1" x2="38.9" y1="39.64" y2="14.36")
