if page.parent
  - const getParent = site.menu.find(item => slugify(item.title).toLowerCase() === page.parent)

  if getParent && getParent.menu
    nav.navigation__secondary(data-state="closed" aria-labelledby="secondary-navigation" data-controller="navigation-secondary")
      ul
        each item, index in getParent.menu
          -
            const id = slugify(item).toLowerCase()
            const url= baseUrl + page.parent + '/' + id + '/'
            const isActive = page.id === id

          li(class={'active': isActive})
            a.button.button--yellow(href= url class={'active': isActive})= item
              if isActive
                svg.icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 54 54")
                  polyline(points="21.97 24.61 26.75 29.39 31.53 24.61")
