//- section.section.section--navigationRelational
nav.navigationRelational(aria-labelledby="relational-navigation")

  if page.navRelational.left
    .navigationRelational__left
      a(href=page.navRelational.left.url) !{page.navRelational.left.text}
        span.arrow ←

  if page.navRelational.middle
    .navigationRelational__middle
      a(href=page.navRelational.middle.url) !{page.navRelational.middle.text}
        span.arrow ↓

  if page.navRelational.right
    .navigationRelational__right
      a(href=page.navRelational.right.url) !{page.navRelational.right.text}
        span.arrow →
