- const pageCategory = (page && page.parent) ? page.parent : page.id

nav.navigation#navigation(data-state="closed" aria-labelledby="primary-navigation")
  ul
    each item in site.menu
      -
        const id = item.id || slugify(item.title).toLowerCase()
        const url= baseUrl + id + '/' + (item.menu ? slugify(item.menu[0]).toLowerCase() + '/' : '')

      li
        a.button(href= url class= (pageCategory === id ? "active" : ""))= item.title
