svg#svg-lib(xmlns="http://www.w3.org/2000/svg")
  symbol#svg-arrow(viewbox="0 0 38 38")
    path(d="M19 0a19 19 0 100 38 19 19 0 000-38zm10.48 21.25l-7.05 7.05-2.25-2.25 5.46-5.46H8.23v-3.18h17.42l-5.46-5.46 2.25-2.25 7.05 7.05L31.73 19l-2.25 2.25z")

  symbol#svg-cross(viewbox="0 0 38 38")
    path(d="M18.97 0a18.97 18.97 0 100 37.93 18.97 18.97 0 000-37.93zm9.22 25.95l-2.25 2.25-6.98-6.98-6.98 6.98-2.25-2.25 6.98-6.98-6.98-6.98 2.25-2.25 6.98 6.98 6.98-6.98 2.25 2.25-6.98 6.98 6.98 6.98z")

  symbol#svg-burger(viewbox="0 0 38 38")
    title Mobile menu
    path(d="M18.96 0a18.96 18.96 0 100 37.92 18.96 18.96 0 000-37.92zm9.32 26.92H9.64v-3.17h18.64v3.17zm0-6.37H9.64v-3.17h18.64v3.17zm0-6.38H9.64V11h18.64v3.17z")

  symbol#svg-video(viewbox="0 0 38 38")
    path(d="M32.8 6.63V0H19.88v12.67h6.9a10 10 0 012.61 6.71A10.3 10.3 0 0119 29.57a10.3 10.3 0 01-10.4-10.2c0-3.45 1.78-6.52 4.48-8.36v-9.3A18.68 18.68 0 000 19.37C0 29.65 8.52 38 19 38s19-8.35 19-18.62a18.3 18.3 0 00-5.2-12.75z")
