.tooltip(data-theater-target="tooltip")
  .tooltip__indicator(data-theater-target="indicator")
  a(href="" target="_blank" data-theater-target="url")
    .h6
      span= 'Divadlo '
      span(data-theater-target="name")
      span →
