$design-screen-size: 1920;
$design-web-width: 1282;
$design-font-size: 20;
$design-screen-size-mobile: 375;
$design-web-width-mobile: 341 ;
$design-font-size-mobile: 16;

@import "tokens/breakpoints";
@import "tokens/colors";
@import "tokens/motion";
@import "typography";
@import "components";

// spacing
// 90
// 85
// 83
// 80
// 60
// 13
// $spacing-1: (90 / $design-font-size) * 1rem;
// $spacing-0: (56 / $design-font-size) * 1rem;
$spacing-5: (97 / $design-font-size) * 1rem;
$spacing-4: (90 / $design-font-size) * 1rem;
$spacing-3: (85 / $design-font-size) * 1rem;
$spacing-2: (83 / $design-font-size) * 1rem;
$spacing-1: (80 / $design-font-size) * 1rem;
$spacing-0: 2em * $line-height-1;
$spacing--1: (13 / $design-font-size) * 1rem;

$web-width-max: calc(1900px + #{$spacing-5 * 2});
// $web-width-mobile: ($design-web-width-mobile / $design-screen-size-mobile) * 100vw;
$web-gutter-mobile: $spacing-0 / 2;

$header-height: $unit * 6;
$footer-height-mobile: $unit * 30;
// $footer-height: clamp(515px, 52vmax, 998px);
$footer-height: 441 / 1420 * 100vw;

// Border
$base-border-color: transparent;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;
$box-shadow: 0 0 $unit * 2 rgba($text-color, .8);

// Buttons
$button-shadow: 0 0 $unit / 2 rgba(0, 0, 0, .2);
$button-size: 50 / 14 * 1em;

// SVG
$svg-circle-size: $unit * 1.2;

$logo-ratio: 31 / 33;

$icon-size: $unit * 2;

$z-header-mobile: 9999;
$z-lightbox: 60;
$z-header-desktop: 50;
$z-modal: 40;
$z-carousel: 30;
$z-loading-screen: 20;

$mobile-menu-size: $button-size ;
